$black:black;

@import 'assets/colors.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');


$url_1: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==');

$transition: cubic-bezier(.17, .67, .5, 1.03);
$timing:.4s .15s;


* {
	margin: 0;
	padding: 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		font-family: 'Lato', sans-serif !important;
		line-height: 130%;
	}
}

body {
	box-sizing: border-box;
	border: none;
	min-height: 100vh;

}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

.btn-primary {
	background-color: $color_viking;
	transition: $timing $transition;

	&:hover {
		background-color: $color_viking_medium;
	}
}


section {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $color_jacarta_medium;
		text-transform: uppercase;
	}

	p {
		color: $color_fuscous_gray;
		letter-spacing: .2px;
	}
}

/* =====================  L O C A T I O N  M E N U  ===================== */
.overlay-bg {
	background: $color_jacarta_medium;
}

.call-to-action {
	i {
		color: $green_fluor;
		;
	}

}


.custom-select {
	position: relative;
	display: block;
	width: 150px;
	border-radius: 20px;
	// background-color: $black_20;
	z-index: 10;
	border: 2px solid $white;
	height: 30px;

	select {
		border: none;
		background: transparent;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin: 0;
		display: block;
		width: 100%;
		padding: 0 12px;
		font-size: 14px;
		color: $white;
		line-height: 26px;

		&:focus {
			outline: none;
			border-radius: 20px;
			box-shadow: 0 0 0pt 1pt white;
			color: $white_75;
		}
	}

	&:after {
		position: absolute;
		right: 2px;
		top: -1px;
		width: 25px;
		height: 100%;
		line-height: 27px;
		content: "\f0ac";
		font-family: FontAwesome;
		text-align: center;
		color: $white_75;
		font-size: 21px;
		z-index: -1;
	}


}


.menu-locations {
	display: flex;
	justify-content: flex-start;

	.locations-options {
		margin-left: 30px;

		ul {
			display: none;

			&.visible {
				display: flex;
				justify-content: center;
			}
		}
	}

}

.topbar-right {
	display: flex;
	justify-content: flex-end;

	.custom-select {

		&::after {
			content: '\f1ab';

		}
	}
}


/* ===================== N A V  M E N U  ===================== */
.logo {
	height: auto;
	padding: 0;
}

.navbar-default {
	min-height: inherit;

	.mainnav {
		padding: 12px 10px;

		.navbar-header {
			display: flex;
			align-items: center;

			.logo {
				margin-left: 10px;
				max-width: 110px;
			}

			.navbar-toggle {
				border-color: transparent;
				font-size: 24px;
				margin-top: 0;
				margin-right: 6px;

				i {
					color: $color_jacarta_medium;
				}

				&:focus,
				&:hover {
					background-color: inherit;

					i {
						color: $color_viking;
					}
				}
			}
		}


	}


}

.hippo-offcanvas-container {

	/* background */
	background: $color_jacarta_dark;
	background: -moz-linear-gradient(300deg, $color_jacarta_dark, $color_jacarta_medium);
	background: -webkit-gradient(left top, left bottom, color-stop($color_jacarta_dark), color-stop, $color_jacarta_medium);
	background: -webkit-linear-gradient(300deg, $color_jacarta_dark, $color_jacarta_medium);
	background: -o-linear-gradient(300deg, $color_jacarta_dark, $color_jacarta_medium);
	background: -ms-linear-gradient(300deg, $color_jacarta_dark, $color_jacarta_medium);
	background: linear-gradient(300deg, $color_jacarta_dark, $color_jacarta_medium);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#447994', endColorstr='#362961', GradientType=0);
	/* background */

	width: 100vw;

	.offcanvas-wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.off-canvas-header {
			.back {
				padding: 7px 0;

				#off-canvas-close-btn {
					background: none;
					float: none;
					width: 100%;
					text-align: right;
					transition: $timing $transition;

					&:hover,
					&:focus {
						background-color: none;
						border-radius: 0;

						i {
							color: white;
						}
					}

					i {
						color: $color_viking_70;
						padding: 5px 15px;
						font-size: 24px;
					}
				}
			}
		}

		#offcanvasMenu {
			padding-top: 60px;

			li {
				transition: $timing $transition;

				a {
					color: $color_viking;
					padding: 8px 15px;
					box-shadow: none;
					font-size: 18px;
					text-align: center;
					transition: $timing $transition;
					height: 45px;

					.fa {
						color: $color_viking_70;
					}
				}

				&.active {
					a {
						color: white;
						font-weight: 700;
					}
				}

				&.open {
					a {
						color: white;
						font-weight: 700;

					}

					.locations-ul {
						li {
							background: $black_20;
							background: linear-gradient(to right, $black_20 0, $black_50 100%);
							margin-bottom: 5px;
							box-shadow: 0 2px 0 0 $black_20;

							.locations-canvas {
								display: flex;
								flex-direction: row;
								justify-content: center;
								margin: 0;
								padding: 0;

								li {
									background: inherit;
									box-shadow: none;

									a {
										font-size: 12px;
										padding: 0 5px;
										text-transform: lowercase;
										color: $white_50;
										height: inherit;
									}
								}
							}

							&:last-child {
								margin-bottom: 0;
							}
						}

					}
				}

				.fa {
					color: $black_50;
				}

				ul {
					padding: 0;
					margin: auto;

					li {
						text-align: center;
						color: $white_50;


					}
				}
			}

			.trackeo {
				transition: $timing $transition;
				padding-bottom: 15px;
				margin-bottom: 0;
				display: flex;
				flex-direction: column;
				/* justify-content: center; */
				align-items: center;
				padding-top: 25px;
				position: relative;
				margin-top: 20px;

				&:after {
					content: '';
					position: absolute;
					height: 2px;
					width: 100%;
					top: 0px;
					left: 0;
					right: 0;
					margin: auto;
					background-color: $white_20;
				}

				>* {
					transition: $timing $transition;
				}

				label {
					color: $color_viking;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-size: 18px;
					font-weight: 500;
					font-weight: 700;
					margin-bottom: 10px;
					margin-top: 10px;
					position: relative;
					margin-left: 8px;

					&:before {
						content: '\f041';
						font-family: FontAwesome;
						font-size: 14px;
						left: -16px;
						position: absolute;

					}
				}

				input {
					max-width: 75%;
					border-bottom: 1px solid $color_jacarta;
					color: white;
					padding-top: 0;
					margin: 8px auto;
					height: 32px;
					text-align: center;

					&::placeholder {
						color: rgba(255, 255, 255, 0.747);
						font-family: Arial, FontAwesome;
						text-align: center;
					}

					&:last-of-type {
						margin-bottom: 30px;
					}
				}

				&:focus-within {
					background-color: $black_20;

					label {
						color: white;
					}

					input {
						color: $color_viking;
					}

					&::after {
						content: none;
					}
				}
			}


		}

		.offlocation {
			justify-self: flex-end;

			ul {
				padding: 3% 0;
				background-color: $black_20;
				display: flex;
				justify-content: space-around;
			}
		}
	}


}


/* ===================== S L I D E R  ===================== */
.container-fluid.main {
	padding: 0;
}

#my-slider {
	position: relative;

	.sp-thumbnails-container {
		position: absolute;
		bottom: 0;

		.sp-thumbnail {
			width: 100%;
			padding: 8px;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			.sp-thumbnail-title {
				margin-bottom: 5px;
				text-transform: uppercase;
				color: #333;

				svg {
					width: 48px;
					height: 48px;
					fill: $color_jacarta_medium;
				}
			}


		}

		.sp-selected-thumbnail {
			.sp-thumbnail {
				.sp-thumbnail-title {
					svg {
						fill: $color_viking;
					}
				}
			}

			&:before {
				width: 70%;
				border-bottom: 3px solid white;
				margin-top: 13px;
				left: 0;
				right: 0;
				margin: auto;
			}

			&:after {
				content: none;
			}
		}

		.sp-thumbnail-description {
			font-size: 14px;
			color: #333;
		}
	}

	img.sp-image {
		filter: grayscale(.5);
	}

	.sp-layer {
		left: 0;
		right: 0;
		top: inherit !important;
		margin: 0 20px;
		bottom: 28%;
		background-color: $color_jacarta_60;
		font-size: 14px;
		white-space: nowrap;
		min-height: 180px;
		max-height: 380px;
		max-width: 540px;
		border-color: $black_50;
		overflow-wrap: break-word;
		padding: 20px;


		>* {
			margin: 0;
			padding: 0;
			white-space: normal;
			text-align: left;
			color: white;
			position: relative;
		}

		hr {
			border-top: 3px solid $green_fluor;
			max-width: 100px;
			margin: 10px 0 15px !important;
		}

		h3 {
			border-width: 0px;
			letter-spacing: 2px;
			font-size: 26px;
			font-weight: 700;
		}

		p {
			letter-spacing: 0px;
			font-weight: 400;
			font-size: 14px;
			text-align: left;
		}

		a.btn {
			float: right;
			margin-top: 20px;
			padding: 5px 15px;
			color: white;
			text-transform: uppercase;

			i {
				margin: auto 5px 3px;
				color: $green_fluor;
			}

			&:hover {
				background-color: $green_fluor;

				i {
					color: white;
				}
			}
		}
	}
}

@media (max-width: 860px) {
	#my-slider .hide-medium-screen {
		display: none;
	}
}

@media (max-width: 640px) {
	#my-slider .sp-layer {
		font-size: 12px;
	}

	#my-slider .hide-small-screen {
		display: none;
	}
}

@media (max-width: 500px) {
	#my-slider .sp-thumbnail {
		text-align: center;
	}

	#my-slider .sp-thumbnail-title {
		font-size: 12px;
		text-transform: uppercase;
	}

	#my-slider .sp-thumbnail-description {
		display: none;
	}
}

/* ===================== M I S I O N ===================== */

.service-home {
	.service {
		h3 {
			font-size: 36px;
			text-transform: uppercase;
			color: $color_jacarta_medium;

			&::before {
				content: '';
				border-bottom: 3px solid $green_fluor;
				width: 50px;
				display: block;
				margin-bottom: 33px;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				-ms-border-radius: 2px;
				border-radius: 2px;
			}
		}

		p {
			max-width: 520px;

		}
	}

	.service-pic {
		height: 280px;
		-webkit-mask-clip: padding;
		overflow: hidden;
		position: relative;

		img {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
		}
	}
}

.agentes {
	background-color: $color_wild_sand;

	iframe {
		margin: 60px auto;
	}
}

.cta-section {
	background-color: $color_jacarta_medium;
	padding: 20px 0;
}

.quote-btn {
	background-color: $magenta_fluor !important;

	&:hover {
		background-color: $magenta_medium !important;
	}
}

.footer-widget-section {

	address {
		.modal-map {
			background-color: $green_fluor;

			&:hover,
			&:focus {
				background-color: $color_jacarta_medium;
			}
		}
	}

	.newsletter-form {
		.form-group {
			.form-control {
				width: 80%;
			}

			button {
				background-color: $green_fluor;
				border-radius: 50px;
				color: white;
				font-style: normal;
				padding: 0 20px;
				height: 40px;
				top: inherit;
				bottom: 0;

				&:hover,
				&:focus {
					background-color: $color_jacarta_medium;
				}
			}
		}
	}
}

.copyright-section {
	background-color: $color_wild_sand;
	padding: 45px 0;
}

#contactForm button {
	margin-left: auto;
	background-color: $color_jacarta_medium;
	color: white;
	transition: $timing $transition;

	&:hover,
	&:focus {
		background-color: $magenta_fluor;
	}
}

.page-title-section {
	background: #3b2b6a;
	background: -moz-linear-gradient(left, $color_jacarta_medium 0%, $color_jacarta_fluor 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, $color_jacarta_medium), color-stop(100%, $color_jacarta_fluor));
	background: -webkit-linear-gradient(left, $color_jacarta_medium 0%, $color_jacarta_fluor 100%);
	background: -o-linear-gradient(left, $color_jacarta_medium 0%, $color_jacarta_fluor 100%);
	background: -ms-linear-gradient(left, $color_jacarta_medium 0%, $color_jacarta_fluor 100%);
	background: linear-gradient(to right, $color_jacarta_medium 0%, $color_jacarta_fluor 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_jacarta_medium', endColorstr='$color_jacarta_fluor', GradientType=1);
}

/* ####################### TABS ###################### */
.single-service-contents {
	padding-top: 30px;

	.widget {
		margin-bottom: 15px;

		.service-list {
			display: flex;
			flex-wrap: nowrap;
			overflow-x: scroll;
			margin-bottom: 35px;
			padding-bottom: 4px;

			li {
				width: fit-content;
				margin-right: 15px;
				margin-bottom: 0;

				&.active {

					border-bottom: 2px solid $color_viking_medium;

				}
			}
		}
	}

}

/* ################## CARDS TABLES ###################### */


.accordion {
	margin: 0 auto;
	border-radius: 5px;

	.pic-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 30px;

		h2 {
			margin: 0px auto 30px;
		}
	}

	.accordion__item {
		margin-bottom: 20px;

		.accordion-body {
			.accordion__item {
				margin-bottom: 0;
			}
		}
	}
}

.accordion-header,
.accordion-body {
	background: white;
}

.accordion-header {
	padding: 1em .8em;
	background: $color_jacarta_medium;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	letter-spacing: .1em;
	transition: all .3s;
	position: relative;

	&:hover {
		background: $color_jacarta_fluor;
		position: relative;
		z-index: 5;
	}
}

.accordion-body {
	background: #fcfcfc;
	color: #3f3c3c;
	display: none;
}

.accordion-body__contents {
	padding: 1.5em 20px;
	font-size: .85em;
}

.accordion__item {
	width: 100%;

	&.active:last-child .accordion-header {
		border-radius: none;
	}
}

.accordion:first-child>.accordion__item>.accordion-header {
	border-bottom: 1px solid transparent;
	font-size: 12px;
	padding: 10px 20px;
}

.accordion__item {
	.accordion-header:after {
		content: "\f078";
		font-family: FontAwesome;
		font-size: 12px;
		position: absolute;
		right: 10px;
		top: 50%;
		transition: .3s all;
		transform: rotate(0deg) translateY(-50%);
		color: white;
	}

	&.active {
		.accordion-header:after {
			transform: rotate(-180deg);
			top: 25%;
		}

		.accordion-header {
			background: $color_jacarta_fluor;
		}
	}

	.accordion__item {
		.accordion-header {
			background: #f1f1f1;
			color: black;

			&:after {
				color: #757482;
				transform: rotate(0deg);
			}
		}

		&.active {
			.accordion-header:after {
				transform: rotate(-180deg);
			}
		}
	}

}

@media screen and (max-width: 1000px) {
	.accordion {
		width: 100%;
	}
}

/* ===================== Q U E R I E S ===================== */

@media only screen and (min-width:768px) {
	.navbar-default {
		.mainnav {
			.navbar-header {
				.logo {
					max-width: inherit;
				}
			}
		}
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.hippo-offcanvas-container .offcanvas-wrap {
		justify-content: center;

		#offcanvasMenu {
			li {
				a {
					font-size: 1.8em;
					height: inherit;
					padding: 15px;
				}

				&.open {
					a {
						padding-bottom: 0;
					}

					ul {
						li {
							font-size: 24px;
							margin-bottom: 10px;
						}
					}
				}

				.trackeo {
					padding-top: 42px;

					&:after {
						width: 35%;
					}

					>* {
						margin-bottom: 30px;
					}

					label {
						font-size: 1.8em;

					}

					input {
						font-size: 1.5em;
						padding-bottom: 10px;
						max-width: 60%;
					}

					button {
						font-size: 1.8em;
					}
				}

			}
		}

	}

	#my-slider {
		.sp-layer {
			bottom: 39%;
		}

		.sp-thumbnails-container {
			.sp-thumbnail {
				margin-right: 10px;

				.sp-thumbnail-title {
					text-align: center;

					svg {
						width: 100px;
						height: 100px;
					}
				}
			}
		}
	}

	.single-service-contents {
		padding-top: 100px;

		.widget-title {
			text-transform: uppercase !important;
		}

		.widget:first-of-type {
			margin-bottom: 45px;

			.service-list {
				flex-direction: column;
				overflow-x: hidden;

				li {
					width: fit-content;
					margin-right: 15px;
					margin-bottom: 0;

					&.active {

						border-bottom: none;

					}

					a {
						font-size: 16px;
						text-transform: uppercase;
					}
				}
			}
		}

	}

	.accordion {
		.pic-container {
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;

			h2 {
				margin-left: 0;
			}
		}

		.accordion-body__contents {
			padding: 0;

			ul {

				li {
					padding: .7em 20px;
					&:first-of-type {
						border-bottom: 1px solid #dadada;
					}
				}

				
			}
		}
	}
}

@media only screen and (min-width:1024px) {
	#my-slider {
		.sp-layer {
			max-width: 75vw;

			h3 {
				font-size: 64px;
			}

			p {
				font-size: 32px;
			}

			a.btn {
				margin: 0;
				font-size: 32px;

				i {
					margin: 0;
				}
			}
		}

		.sp-thumbnails-container {
			bottom: 60px;
		}
	}
}

/* ----------- Non Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
	.navbar-default {
		padding: 10px 0;

		.mainnav {
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;

			&:after,
			&:before {
				content: none;
			}

			.navbar-header {
				.logo {
					max-width: 200px;
				}
			}

			.navbar-collapse.collapse {
				display: flex !important;
				justify-content: flex-end;
				padding-right: 15px;

				ul.nav {
					float: none !important;
					display: flex;
					justify-content: flex-end;
					align-content: center;
					margin-right: 0;
					padding-top: 0;

					.open a {
						background-color: $color_jacarta_fluor;
						color: white;

						&:hover,
						&:focus {
							background-color: $color_jacarta_fluor;
							color: white;
						}
					}

					>li {
						float: none !important;
						margin: 0 5px;

						a {
							border-radius: 0;
							background-color: inherit;
							color: $color_jacarta;
						}

						a:hover {
							background-color: $color_jacarta_fluor;
							color: white;
						}

						&.active {
							a {
								border-bottom: 3px solid $color_jacarta_fluor;

								&:hover,
								&:focus {
									background-color: $color_jacarta_fluor;
									color: white;
								}
							}
						}

						&.find-track {
							margin-right: 0;

							a {
								display: flex;
								align-items: center;
								background-color: $magenta_fluor;
								border-radius: 20px;
								padding: 5px 16px;
								width: inherit;
								height: inherit;
								color: $white;
								position: relative;
								transition: $timing $transition;
								// font-weight: 700;
								padding-bottom: 3px;
								padding-right: 8px;

								&::after {

									content: '\f041';
									font-family: FontAwesome;
									font-size: 14px;
									margin-left: 12px;
									height: 22px;
									width: 22px;
									border-radius: 50%;
									text-align: center;
									color: white;
									transition: .1s;

								}

								&:hover,
								&:focus {
									background-color: $magenta_medium;
									color: white;
								}
							}
						}
					}
				}


			}
		}
	}

	#my-slider {
		.mini-container {
			width: 1186px;
			height: 320px;
			position: absolute;
			left: 0;
			margin: auto;
			top: 60px;
			/* transform: translateY(-50%); */
			right: 0;

			.sp-layer {
				bottom: 38%;
				max-width: 40vw;
				min-height: 210px;

				h3 {
					font-size: 40px;
				}

				p {
					font-size: 22px;
				}

				a.btn {
					font-size: 20px;
					background-color: $green_fluor;
					position: absolute;
					bottom: 20px;
					right: 20px;

					i {
						color: white;
					}
				}
			}
		}

		.sp-thumbnails-container {
			left: 0;
			right: 0;
			margin: auto;
			bottom: 20px;


			.sp-thumbnail {
				padding: 16px 0 0 0;
				position: relative;
				top: inherit;
				min-width: 100%;
				transition: $timing $transition;


				.sp-thumbnail-title {
					display: flex;
					flex-direction: column;
					align-items: center;

					svg {
						width: 72px;
						height: 72px;
						fill: $white_60;
						transition: $timing $transition;
					}
				}

				.sp-thumbnail-description {
					color: $white_60;
					text-align: center;
					margin-top: 10px;
					font-size: 18px;
					letter-spacing: 1px;
					padding: 0 2px;
					transition: $timing $transition;
				}

				&:hover {
					cursor: pointer;
					background-color: $green_fluor;


					.sp-thumbnail-title {
						svg {
							fill: $white;
						}
					}

					.sp-thumbnail-description {
						color: $white;
					}
				}
			}

			.sp-selected-thumbnail {
				&:before {
					content: none;
				}

				&:hover {
					background: inherit;
				}

				.sp-thumbnail .sp-thumbnail-title svg {
					fill: white;
				}

				.sp-thumbnail-description {
					color: $white;
					background-color: $color_jacarta_medium;
					border-top: 3px solid $green_fluor;
				}
			}
		}

	}
}




/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) //   and (-webkit-min-device-pixel-ratio: 2)

//   and (min-resolution: 192dpi) 
	{

	.top-bar {
		.overlay-bg {
			padding: 5px 0;
		}
	}

	.navbar-default {
		padding: 5px 0;

		.mainnav {
			.navbar-header {
				.logo {
					max-width: 160px;
				}
			}
		}
	}

	#my-slider {
		.mini-container {
			width: 816px;

			.sp-layer {
				top: 0 !important;
				max-width: 50vw;
				min-height: 210px;
				margin-left: 0;
				bottom: inherit;

				h3 {
					font-size: 32px;
				}

				p {
					font-size: 16px;
					padding-bottom: 40px;
				}

				a.btn {
					font-size: 20px;
					position: absolute;
					bottom: 20px;
					right: 20px;
				}
			}
		}

		.sp-thumbnails-container {
			left: 0;
			right: 0;
			margin: auto;
			bottom: -7px;


			.sp-thumbnail {
				padding: 16px 0 0 0;
				position: relative;
				top: inherit;
				min-width: 100%;


				.sp-thumbnail-title {
					display: flex;
					flex-direction: column;
					align-items: center;

					svg {
						width: 64px;
						height: 64px;
					}
				}


			}


		}

	}
}

@media screen and (min-device-width:1600px) {

	#my-slider {
		.mini-container {

			.sp-layer {
				max-width: 40vw;
				min-height: 340px;

				h3 {
					font-size: 36px;
				}

				p {
					font-size: 20px;
				}


			}
		}
	}
}