{% extends "layout.njk" %}

{% set page_title = 'CGS GROUP | Documentación' %}

{% block navbar %}
   {% import "macros/navbar.njk" as nav %}
   {{nav.active('', 'es', 'documentos', 'eng_documents')}}
{% endblock %}

{% block secciones %}
   <div class="jumbotron jumbotron-fluid" style="background-image:url('img/bg_info.jpg')">
      <div class="overlay"></div>
      <div class="container">
         <div class="row">

            <div class="col-12 col-lg-12 mx-auto">
               <ul class="list-inline">
                  <li class="list-inline-item">
                     <h1 class="display-1">Herramientas /</h1>
                  </li>
                  <li class="list-inline-item">
                     <h1>Documentación</h1>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>

   <section class="container pt-5">
    
      <div class="table-responsive">
         <table class="table table-striped">
            <thead class="thead-dark">
               <tr>
                  <th scope="col">Nombre del Documento</th>
                  <th scope="col">Fecha de Publicación</th>
                  <th scope="col"></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th scope="row">Carta de Garantía 2020</th>
                  <td>01/11/2019</td>
                  <td>
                     <a href="docs/cgs_carta_de_garantia_2020.doc" download="download" class="btn btn-third">
                        <i class="fas fa-file-download mr-2"></i>Descargar Documento</a>
                  </td>
               </tr>
               <tr>
                  <th scope="row">Declaración de Embarque</th>
                  <td>04/08/2018</td>
                  <td>
                     <a href="docs/cgs_modelo_declaracion_de_embarque.docx" download="download" class="btn btn-third">
                        <i class="fas fa-file-download mr-2"></i>Descargar Documento</a>
                  </td>
               </tr>
               <tr>
                  <th scope="row">Términos y Condiciones de HBL</th>
                  <td>01/01/2020</td>
                  <td>
                     <a href="docs/terminos_y_condiciones_HBL.pdf" download="download" class="btn btn-third">
                        <i class="fas fa-file-download mr-2"></i>Descargar Documento</a>
                  </td>
               </tr>
               <tr>
                  <th scope="row">Términos y Condiciones de CRT</th>
                  <td>01/01/2020</td>
                  <td><a href="docs/terminos_y_condiciones_CRT.pdf" download="download" class="btn btn-third">
               <i class="fas fa-file-download mr-2"></i>Descargar Documento</a></td>
               </tr>
            </tbody>
         </table>
      </div>

   </section>
{% endblock %}