{% extends "layout.njk" %}

{% set page_title = 'CGS GROUP | Servicios' %}

{% block navbar %}
   {% import "macros/navbar.njk" as nav %}
   {{nav.active('servicios')}}
{% endblock %}

{% block secciones %}

   <section class="page-title-section">
      <div class="container">
         <div class="row">
            <div class="col-xs-12">
               <div class="page-header-wrap">
                  <div class="page-header">
                     <h1>Servicios</h1>
                  </div>
                  <ol class="breadcrumb">
                     <li>
                        <a href="#">Home</a>
                     </li>
                     <li class="active">Servicios</li>
                  </ol>
               </div>
            </div>
         </div>
      </div>
   </section>

   <!-- Single-Service-Start -->
   <section class="single-service-contents">
      <div class="container">
         <div class="row">
            <div class="col-md-3 col-sm-5 col-xs-12">
               <div class="service-sidebar sidebar-wrapper">

                  <div class="widget">
                     <div class="table-father direct accordion__item js-accordion-item active">
                        <div class="accordion-header js-accordion-header">Servicios</div>
                        <div class="accordion-body js-accordion-body">
                           <div class="accordion__item js-accordion-item">
                              <ul class="service-list ">
                                 <li class="active">
                                    <a data-toggle="tab" href="#marino" class="icon-marine">Ocean Freight</a>
                                 </li>
                                 <li>
                                    <a data-toggle="tab" href="#terrestre" class="icon-trucking">Overland</a>
                                 </li>
                                 <li>
                                    <a data-toggle="tab" href="#aereo" class="icon-air">Air Freight</a>
                                 </li>
                                 <li>
                                    <a data-toggle="tab" href="#aduana" class="icon-store">Custom Brokerage</a>
                                 </li>

                                 <li>
                                    <a data-toggle="tab" href="#seguros" class="icon-transportation">Total Coverage</a>
                                 </li>

                              </ul>
                           </div>
                        </div>
                     </div>

                  </div>
                  <!-- /.widget -->

                  <div class="widget">
                     <div class="download-wrap company">
                        <a href="#">Formulario Solicitud
                           <br>de Seguro
                           <span>Download</span>
                           <i class="fa fa-download"></i>
                        </a>
                     </div>
                     <!-- /.download-wrap -->
                  </div>
                  <!-- /.widget -->

                  <div class="widget">
                     <h2 class="widget-title">Horarios</h2>
                     <div class="textwidget">
                        <p>Lunes - Viernes: 9:00 - 18:00<br>
                           Sábados: 9:00 - 2:00<br>
                           Vacaciones: 9:00 - 12:00</p>
                     </div>
                  </div>
                  <!-- /.widget -->
               </div>
               <!-- /.sidebar-wrapper -->
            </div>
            <!-- /.col -->
            <div class="col-md-9 col-sm-7 col-xs-12 tab-content">

               <div id="marino" class="single-service-content tab-pane fade in active">
                  <p>We work on all international sea routes in order to guarantee to our customers a complete global coverage for the traffic of their goods.</p>

                  <br>
                  <div class="row">

                     <div class="col-sm-7 col-xs-12">
                        <h3>The Service includes:</h3>
                        <ul>
                           <li>- Low Container Load</li>
                           <li>- Contenedores</li>
                           <li>- Break Bulk</li>
                           <li>- OOG Loads</li>
                           <li>- Reefer & Perishables</li>
                           <li>- Bulk Cargo</li>
                           <li>- Flexitank</li>
                           <li>- Industrial Proyects</li>
                           <li>- Stuffing / Unstuffing</li>
                           <li>- Cargo Inspections</li>
                           <li>- IMO</li>
                           <li>- Tank Containers</li>
                           <li>- Door to door</li>
                           <li>- Custom brokerage</li>
                        </ul>
                     </div>
                     <!-- /.col -->
                     <div class="col-sm-5 col-xs-12">
                        <div class="single-service-thumb">
                           <img src="img/service/marinethumb.jpg" alt="image"/>
                        </div>
                     </div>
                  </div>
                  <!-- /.row -->

               </div>
               <!-- /.single-service-content -->

               <div id="terrestre" class="single-service-content tab-pane fade">
                  <img class="img-alignnone" src="img/service/truckingthumb.png" alt="image">
                  <p>Short, medium and long distance services, with units according to each specific need. Each unit has Global Positioning System, provided and administered by certified company. Our operations department coordinates, manages and tracks each trip and informs to our customers of the status of their cargo at every time.</p>
                  <br>
                  <div class="row">

                     <div class="col-sm-7 col-xs-12">
                        <h3>Service options:</h3>
                        <ul>
                           <li>- LTL (Less than Truck Load)</li>
                           <li>- FTL (Full Truck Load)</li>
                           <li>- Oversized/OOG Carriage</li>
                           <li>- Heavy Haul</li>
                           <li>- Customs Brokerage services</li>
                           <li>- Drop & Pick Services</li>
                           <li>- Clip On & Underslung Generator Sets</li>
                        </ul>

                     </div>
                     <!-- /.col -->
                     <div class="col-sm-5 col-xs-12">
                        <div class="single-service-thumb">
                           <img src="https://via.placeholder.com/335x420" alt="image"/>
                        </div>
                     </div>
                  </div>
                  <!-- /.row -->

               </div>

               <div id="aereo" class="single-service-content tab-pane fade ">
                  <div class="single-service-thumb">
                     <img src="img/service/airthumb.jpg" alt="image"/>
                  </div>
                  <p>Our air freight service covers to and from any airport in the world. Our specialists coordinate your air transport in order to minimize transit time, optimize the cost of transport and ensure the integrity of the goods in our custody, reporting accurately and detailed the movement of your cargo all the way.</p><br>
                  <div class="row">

                     <div class="col-sm-7 col-xs-12">
                        <h3>The Service includes:</h3>
                        <ul>
                           <li>- Pick-up, delivery, and distribution.</li>
                           <li>- Multimodal solutions (combining with land and sea freight sevice)</li>
                           <li>- Documentation management</li>
                           <li>- Customs clearance and brokerage</li>
                           <li>- Special handling</li>
                           <li>- Stuffing / Unstuffing Service</li>
                        </ul>

                     </div>
                     <!-- /.col -->
                     <div class="col-sm-5 col-xs-12">
                        <div class="single-service-thumb">
                           <img src="https://via.placeholder.com/335x420" alt="image"/>
                        </div>
                     </div>
                  </div>
                  <!-- /.row -->

               </div>
               <!-- /.single-service-content -->

               <div id="aduana" class="single-service-content tab-pane fade">
                  <img class="img-alignnone" src="img/service/logisticthumb.png" alt="image">
                  <h2>CUSTOM BROKERAGE</h2>
                  <p>- Advice and requirements for each shipment.</p>
                  <p>- Advice in customs Law.</p>
                  <p>- Tariff clasification for all kind of merchandise.</p>
                  <p>Import and Export Destinations (pemanent, temporary, in consignation, transit, transhipments, transfers, reloading, personal effects, postal entrusts.)</p>
                  <p>Procedures with public agencies (Secretaria de Industria y Comercio , SENASA, IASCAV, INAL, ANMAT, Chambers, etc.)
                  </p>
                  <p>Payment of Customs taxes and fees, and any kind of payment linked to the operation.</p>
                  <p>Operations in La Plata and Colonia Free trade zone.</p>
                  <br>
               </div>
               <!-- /.single-service-content -->

               <div id="seguros" class="single-service-content tab-pane fade">

                  <div class="row">
                     <div class="col-xs-12 col-sm-6">
                        <img class="img-alignleft" src="img/service/shippingthumb.png" alt="image">
                     </div>
                     <div class="col-xs-12 col-sm-6">
                        <h2>TOTAL COVERAGE</h2>
                        <p>Transport insurance covers the transported goods of all risks that may arise during the voyage such as theft, breakage, loss, depots, strikes, wars, general average, etc.</p>

                        <p>To view or apply for coverage, complete the form below:</p>
                        <div class="widget">
                           <div class="download-wrap company">
                              <a href="#">Formulario Solicitud
                                 <br>de Seguro
                                 <span>Download</span>
                                 <i class="fa fa-download"></i>
                              </a>
                           </div>
                           <!-- /.download-wrap -->
                        </div>
                        <!-- /.widget -->
                        <br>
                     </div>
                  </div>

               </div>
               <!-- /.single-service-content -->

            </div>
            <!-- /.col -->
         </div>
         <!-- /.row -->
      </div>
      <!-- /.container -->
   </section>
   <!-- Single-Service-End-->

{% endblock %}