{% extends "layout_eng.njk" %}

{% set page_title = 'CGS GROUP | Services Trucking' %}

{% block navbar %}
   {% import "macros/navbar.njk" as nav %}
   {{nav.active('servicios', 'en', 'servicios-terrestre', 'eng_services-trucking')}}
{% endblock %}

{% block secciones %}

   <div class="jumbotron jumbotron-fluid" style="background-image:url('img/info-terrestre.jpg')">
      <div class="overlay"></div>
      <div class="container">
         <div class="row">

            <div class="col-12 col-lg-9 mx-auto">
               <ul class="list-inline">
                  <li class="list-inline-item">
                     <h1 class="display-1">Services /</h1>
                  </li>
                  <li class="list-inline-item">
                     <h1>Trucking</h1>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <div class="d-none scroll">
      <div class="chevron"></div>
   </div>

   <!-- Single-Service-Start -->
   <section class="servicios">
      <div class="container">
         <div class="row">

            <div class="col-12 col-lg-9 mt-4 mt-lg-0 mx-auto">
               <div class="content">

                  <h3 class="section-title">From one end to the Other</h3>
                  <p>Short, medium and long distance services, with vehicles according to each specific need. Each unit has a Global Positioning System provided and managed by an approved company. Our operations department coordinates, manages and monitors each trip and informs our clients of the status of the cargo throughout the full transit.</p>
                  <p>We offer regular services in Argentina, Chile, Uruguay, Brazil, Paraguay and Bolivia. Our wide fleet of trucks ensure the safely and timely delivery of your merchandise.</p>
                  <p>Our portfolio of road services ranges from full truck load (FTL) to Less than truckload (LTL). We offer specialized transport services for a whole range of goods, including large and oversized cargoes, food and pharmaceuticals that are sensitive to temperature, as well as fragile and high-cost cargoes.</p>
                  <p>Our selected operators and our operative depots strategically located allow us to offer the greatest coverage and flexibility.</p>
                  <p>In addition to the satellite control of units, we provide custody service throughout the full transit, if its required or necesary.</p>

                  <div class="row mt-5">
                     <div class="col-12 col-md-6">
                        <ul class="fa-ul">
                           <li>
                              <span class="fa-li">
                                 <i class="fas fa-angle-double-right"></i>
                              </span>LTL Cargo (Less than Truck Load)</li>
                           <li>
                              <span class="fa-li">
                                 <i class="fas fa-angle-double-right"></i>
                              </span>FTL Cargo (Full Truck Load</li>
                           <li>
                              <span class="fa-li">
                                 <i class="fas fa-angle-double-right"></i>
                              </span>Containers (Dry / Reefer</li>
                           <li>
                              <span class="fa-li">
                                 <i class="fas fa-angle-double-right"></i>
                              </span>Loading with extra-measure</li>
                           <li>
                              <span class="fa-li">
                                 <i class="fas fa-angle-double-right"></i>
                              </span>Refrigerated and perishable cargo</li>
                           <li>
                              <span class="fa-li">
                                 <i class="fas fa-angle-double-right"></i>
                              </span>Bulk cargo</li>
                           <li>
                              <span class="fa-li">
                                 <i class="fas fa-angle-double-right"></i>
                              </span>Flexitank</li>
                           <li>
                              <span class="fa-li">
                                 <i class="fas fa-angle-double-right"></i>
                              </span>Industrial projects</li>
                           <li>
                              <span class="fa-li">
                                 <i class="fas fa-angle-double-right"></i>
                              </span>Stuffing / Unstuffing</li>
                           <li>
                              <span class="fa-li">
                                 <i class="fas fa-angle-double-right"></i>
                              </span>Cargo inspections</li>
                           <li>
                              <span class="fa-li">
                                 <i class="fas fa-angle-double-right"></i>
                              </span>IMO</li>
                           <li>
                              <span class="fa-li">
                                 <i class="fas fa-angle-double-right"></i>
                              </span>Isotank</li>
                           <li>
                              <span class="fa-li">
                                 <i class="fas fa-angle-double-right"></i>
                              </span>Door to door</li>
                           <li>
                              <span class="fa-li">
                                 <i class="fas fa-angle-double-right"></i>
                              </span>Customs clearance</li>
                        </ul>
                     </div>
                     <div class="col-12 col-md-6">
                        <img class="img-fluid" src="img/servicio_terrestre.jpg" alt="image"/>
                     </div>
                  </div>
               </div>

            </div>
         </div>

      </div>
   </div>
</section>
<!-- Single-Service-End-->

{% endblock %}