{% extends "layout_eng.njk" %}

{% set page_title = 'CGS GROUP | Ocean Freight' %}

{% block navbar %}
    {% import "macros/navbar.njk" as nav %}
    {{nav.active('servicios', 'en', 'servicios-maritimo', 'eng_services-ocean')}}
{% endblock %}

{% block secciones %}

    <div class="jumbotron jumbotron-fluid" style="background-image:url('img/info-mar.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">

                <div class="col-12 col-lg-9 mx-auto">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <h1 class="display-1">Services /</h1>
                        </li>
                        <li class="list-inline-item">
                            <h1>Ocean Freight</h1>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none scroll">
        <div class="chevron"></div>
    </div>

    <!-- Single-Service-Start -->
    <section class="servicios">
        <div class="container">
            <div class="row">

                <div class="col-12 col-lg-9 mt-4 mt-lg-0 mx-auto">
                    <div class="content">

                        <h3 class="section-title">Connecting Seaports.</h3>
                        <p>We operate every international routes in order to guarantee to our clients a complete global coverage of their merchandise transport. Our ocean freight services are reliable and guarantee that your merchandise reaches any country in the world safely and on time. We offer ocean freight alternatives in full container load (FCL), less than container load (LCL) and Project Cargo.</p>
                        <p>As a result of our experience and continuous work with the different maritime operators, we can be flexible, guaranteeing space on board and use our large volumes of shipments, to negotiate better conditions for shipping by sea. In addition to conventional shipments with dry units, we offer temperature controlled transport in Reefer Units, as well as special equipment for large loads, bulk transport, vehicle transport and others. The maritime service can be complemented with customs clearance services and transport insurance, as well as land transport services if necessary.</p>
                        <p>Each instance of each shipment, will be informed in time by our team of professionals. Through “My CGS”, you can track your cargo online at any time. Our shipping experts have extensive experience in shipping all types of industrial and consumer goods, and will be at your disposal at any time.</p>

                        <div class="row mt-5">
                            <div class="col-12 col-md-6">
                                <ul class="fa-ul">
                                    <li>
                                        <span class="fa-li">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>LCL Cargo</li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>FCL Cargo</li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>Break Bulk</li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>Loading with extra-measure</li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>Refrigerated and perishable cargo</li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>Bulk cargo</li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>Flexitank</li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>Industrial Projects</li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>Stuffing / Unstuffing</li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>Cargo inspections</li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>IMO</li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>Isotank</li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>Door to door</li>
                                    <li>
                                        <span class="fa-li">
                                            <i class="fas fa-angle-double-right"></i>
                                        </span>Customs clearance</li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6">
                                <img class="img-fluid" src="img/servicio_mar.jpg" alt="image"/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- Single-Service-End-->

{% endblock %}