{% extends "layout.njk" %}

{% set page_title = 'CGS GROUP | Servicios' %}

{% block navbar %}
		{% import "macros/navbar.njk" as nav %}
		{{nav.active('informacion', 'es')}}
{% endblock %}

{% block secciones %}

		<div class="jumbotron jumbotron-fluid" style="background-image:url('img/bg_info.jpg')">
				<div class="overlay"></div>
				<div class="container">
						<div class="row">

								<div class="col-12 col-lg-9 mx-auto">
										<ul class="list-inline">
												<li class="list-inline-item">
														<h1 class="display-1">Herramientas /</h1>
												</li>
												<li class="list-inline-item">
														<h1>Incoterms</h1>
												</li>
										</ul>
								</div>
						</div>
				</div>
		</div>
		<div class="d-none scroll">
				<div class="chevron"></div>
		</div>

		<!-- Single-Service-Start -->
		<section class="servicios">
				<div class="container">
						<div class="row">

								<div class="col-12 col-lg-9 mt-4 mt-lg-0 mx-auto">
										<div class="cgs-tabs ">
												<div class="mt-5">
														<div class="panel-group" id="cargaseca" role="tablist" aria-multiselectable="true">
																<div class="panel panel-default">
																		<div class="panel-heading " role="tab" id="headingOne">
																				<h4 class="panel-title">
																						<a role="button" data-toggle="collapse" data-parent="#cargaseca" href="#seca20" aria-expanded="true" aria-controls="seca20">
																								EXW<span>Marítimo - Áreo</span>
																						</a>
																				</h4>
																		</div>
																		<div id="seca20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
																				<div class="table-father accordion__item js-accordion-item">
																						<div class="accordion-body js-accordion-body">
																								<div class="accordion js-accordion">
																										<div class='accordion__item js-accordion-item'>
																												<div class='accordion-header js-accordion-header'>Mercancía acondicionada para su venta</div>
																												<div class='accordion-body js-accordion-body'>
																														<div class='accordion-body__contents'>
																																<ul>
																																		<li>Responsabilidad Vendedor</li>
																																</ul>
																														</div>
																												</div>
																										</div>

																										<div class='accordion__item js-accordion-item'>
																												<div class='accordion-header js-accordion-header'>Carga en la fábrica del vendedor</div>
																												<div class='accordion-body js-accordion-body'>
																														<div class='accordion-body__contents'>
																																<ul>
																																		<li>Responsabilidad Comprador</li>
																																</ul>
																														</div>
																												</div>
																										</div>

																										<div class='accordion__item js-accordion-item'>
																												<div class='accordion-header js-accordion-header'>Transporte interno en origen</div>
																												<div class='accordion-body js-accordion-body'>
																														<div class='accordion-body__contents'>
																																<ul>
																																		<li>Responsabilidad Comprador</li>
																																</ul>
																														</div>
																												</div>
																										</div>

																										<div class='accordion__item js-accordion-item'>
																												<div class='accordion-header js-accordion-header'>Formalidades aduaneras en exportación</div>
																												<div class='accordion-body js-accordion-body'>
																														<div class='accordion-body__contents'>
																																<ul>
																																		<li>Responsabilidad Comprador</li>
																																</ul>
																														</div>
																												</div>
																										</div>

																										<div class='accordion__item js-accordion-item'>
																												<div class='accordion-header js-accordion-header'>Gastos de manipulación de origen</div>
																												<div class='accordion-body js-accordion-body'>
																														<div class='accordion-body__contents'>
																																<ul>
																																		<li>Responsabilidad Comprador</li>
																																</ul>
																														</div>
																												</div>
																										</div>

																										<div class='accordion__item js-accordion-item'>
																												<div class='accordion-header js-accordion-header'>Transporte principal</div>
																												<div class='accordion-body js-accordion-body'>
																														<div class='accordion-body__contents'>
																																<ul>
																																		<li>Responsabilidad Comprador</li>
																																</ul>
																														</div>
																												</div>
																										</div>

																										<div class='accordion__item js-accordion-item'>
																												<div class='accordion-header js-accordion-header'>Seguro de las mercancías</div>
																												<div class='accordion-body js-accordion-body'>
																														<div class='accordion-body__contents'>
																																<ul>
																																		<li>Responsabilidad Comprador</li>
																																</ul>
																														</div>
																												</div>
																										</div>

																										<div class='accordion__item js-accordion-item'>
																												<div class='accordion-header js-accordion-header'>Gastos de manipulación de destino</div>
																												<div class='accordion-body js-accordion-body'>
																														<div class='accordion-body__contents'>
																																<ul>
																																		<li>Responsabilidad Comprador</li>
																																</ul>
																														</div>
																												</div>
																										</div>

																										<div class='accordion__item js-accordion-item'>
																												<div class='accordion-header js-accordion-header'>Formalidades aduaneras en importación</div>
																												<div class='accordion-body js-accordion-body'>
																														<div class='accordion-body__contents'>
																																<ul>
																																		<li>Responsabilidad Comprador</li>
																																</ul>
																														</div>
																												</div>
																										</div>

																										<div class='accordion__item js-accordion-item'>
																												<div class='accordion-header js-accordion-header'>Transporte interno en destino</div>
																												<div class='accordion-body js-accordion-body'>
																														<div class='accordion-body__contents'>
																																<ul>
																																		<li>Responsabilidad Comprador</li>
																																</ul>
																														</div>
																												</div>
																										</div>

																										<div class='accordion__item js-accordion-item'>
																												<div class='accordion-header js-accordion-header'>Entrega de mercancia al comprador</div>
																												<div class='accordion-body js-accordion-body'>
																														<div class='accordion-body__contents'>
																																<ul>
																																		<li>Responsabilidad Comprador</li>
																																</ul>
																														</div>
																												</div>
																										</div>
																								</div>
																						</div>
																				</div>
																		</div>
																</div>
																<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingTwo">
																				<h4 class="panel-title">
																						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#cargaseca" href="#seca40" aria-expanded="false" aria-controls="seca40">FCA	<span>Marítimo - Áreo</span>
																						</a>
																				</h4>
																		</div>
																		<div id="seca40" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
																				<div class="table-father accordion__item js-accordion-item">
																						<div class="accordion-body js-accordion-body">
																								<div class="accordion js-accordion">
																										<div class="accordion__item js-accordion-item">
																												<div class="accordion-header js-accordion-header">
																														DIMENSIONES EXTERNAS
																												</div>
																												<div class="accordion-body js-accordion-body">
																														<div class="accordion-body__contents">
																																<ul>
																																		<li>40' x 8' x 8'6"</li>
																																		<li>12,192m x 2,438m x 2,591m</li>
																																</ul>
																														</div>
																														<!-- end of sub accordion item body contents -->
																												</div>
																												<!-- end of sub accordion item body -->
																										</div>
																										<!-- end of sub accordion item -->
																										<div class="accordion__item js-accordion-item">
																												<div class="accordion-header js-accordion-header">
																														DIMENSIONES INTERNAS
																												</div>
																												<div class="accordion-body js-accordion-body">
																														<div class="accordion-body__contents">
																																<ul>
																																		<li>39'6" x 7'9" x7'10"</li>
																																		<li>12,032m x 2,352m x 2,385m</li>
																																</ul>
																														</div>
																														<!-- end of sub accordion item body contents -->
																												</div>
																												<!-- end of sub accordion item body -->
																										</div>
																										<!-- end of sub accordion item -->
																										<div class="accordion__item js-accordion-item">
																												<div class="accordion-header js-accordion-header">
																														APERTURA DE PUERTA
																												</div>
																												<div class="accordion-body js-accordion-body">
																														<div class="accordion-body__contents">
																																<ul>
																																		<li>7'8 1/8" x 7'5 3/4"</li>
																																		<li>2,343m x 2,280m</li>
																																</ul>
																														</div>
																														<!-- end of sub accordion item body contents -->
																												</div>
																												<!-- end of sub accordion item body -->
																										</div>
																										<!-- end of sub accordion item -->
																										<div class="accordion__item js-accordion-item">
																												<div class="accordion-header js-accordion-header">
																														CAPACIDAD CÚBICA
																												</div>
																												<div class="accordion-body js-accordion-body">
																														<div class="accordion-body__contents">
																																<ul>
																																		<li>2,390 ft³</li>
																																		<li>67,7m³
																																		</li>
																																</ul>
																														</div>
																														<!-- end of sub accordion item body contents -->
																												</div>
																												<!-- end of sub accordion item body -->
																										</div>
																										<!-- end of sub accordion item -->
																										<div class="accordion__item js-accordion-item">
																												<div class="accordion-header js-accordion-header">
																														TARA</div>
																												<div class="accordion-body js-accordion-body">
																														<div class="accordion-body__contents">
																																<ul>
																																		<li>8,265 lb</li>
																																		<li>3,750 kg</li>
																																</ul>
																														</div>
																														<!-- end of sub accordion item body contents -->
																												</div>
																												<!-- end of sub accordion item body -->
																										</div>
																										<!-- end of sub accordion item -->
																										<div class="accordion__item js-accordion-item">
																												<div class="accordion-header js-accordion-header">
																														PESO MÁXMO
																												</div>
																												<div class="accordion-body js-accordion-body">
																														<div class="accordion-body__contents">
																																<ul>
																																		<li>62,385 lb</li>
																																		<li>28,750 kg</li>
																																</ul>
																														</div>
																														<!-- end of sub accordion item body contents -->
																												</div>
																												<!-- end of sub accordion item body -->
																										</div>
																										<!-- end of sub accordion item -->
																										<div class="accordion__item js-accordion-item">
																												<div class="accordion-header js-accordion-header">
																														PESO BRUTO
																												</div>
																												<div class="accordion-body js-accordion-body">
																														<div class="accordion-body__contents">
																																<ul>
																																		<li>71,650 lb</li>
																																		<li>32,500 kg</li>
																																</ul>
																														</div>
																														<!-- end of sub accordion item body contents -->
																												</div>
																												<!-- end of sub accordion item body -->
																										</div>
																										<!-- end of sub accordion item -->
																								</div>
																						</div>
																				</div>
																		</div>
																</div>
																<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingThree">
																				<h4 class="panel-title">
																						<a class="collapsed" role="button" data-toggle="collapse" data-parent="#cargaseca" href="#secacube" aria-expanded="false" aria-controls="secacube">
																								40 High Cube
																						</a>
																				</h4>
																		</div>
																		<div id="secacube" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
																				<div class="table-father accordion__item js-accordion-item">
																						<div class="accordion-body js-accordion-body">
																								<div class="accordion js-accordion">
																										<div class="accordion__item js-accordion-item">
																												<div class="accordion-header js-accordion-header">
																														DIMENSIONES EXTERNAS
																												</div>
																												<div class="accordion-body js-accordion-body">
																														<div class="accordion-body__contents">
																																<ul>
																																		<li>40' x 8' x 9'6"</li>
																																		<li>12,192m x 2,438m x 2,896m</li>
																																</ul>
																														</div>
																														<!-- end of sub accordion item body contents -->
																												</div>
																												<!-- end of sub accordion item body -->
																										</div>
																										<!-- end of sub accordion item -->
																										<div class="accordion__item js-accordion-item">
																												<div class="accordion-header js-accordion-header">
																														DIMENSIONES INTERNAS
																												</div>
																												<div class="accordion-body js-accordion-body">
																														<div class="accordion-body__contents">
																																<ul>
																																		<li>39'6" x 7'9" x 8'10"</li>
																																		<li>12m x 2,311m x 2,650m</li>
																																</ul>
																														</div>
																														<!-- end of sub accordion item body contents -->
																												</div>
																												<!-- end of sub accordion item body -->
																										</div>
																										<!-- end of sub accordion item -->
																										<div class="accordion__item js-accordion-item">
																												<div class="accordion-header js-accordion-header">
																														APERTURA DE PUERTA
																												</div>
																												<div class="accordion-body js-accordion-body">
																														<div class="accordion-body__contents">
																																<ul>
																																		<li>7'6" x 8'5"</li>
																																		<li>2,280m x 2,560m</li>
																																</ul>
																														</div>
																														<!-- end of sub accordion item body contents -->
																												</div>
																												<!-- end of sub accordion item body -->
																										</div>
																										<!-- end of sub accordion item -->
																										<div class="accordion__item js-accordion-item">
																												<div class="accordion-header js-accordion-header">
																														CAPACIDAD CÚBICA
																												</div>
																												<div class="accordion-body js-accordion-body">
																														<div class="accordion-body__contents">
																																<ul>
																																		<li>2,700 ft³</li>
																																		<li>76,4 m³
																																		</li>
																																</ul>
																														</div>
																														<!-- end of sub accordion item body contents -->
																												</div>
																												<!-- end of sub accordion item body -->
																										</div>
																										<!-- end of sub accordion item -->
																										<div class="accordion__item js-accordion-item">
																												<div class="accordion-header js-accordion-header">
																														TARA</div>
																												<div class="accordion-body js-accordion-body">
																														<div class="accordion-body__contents">
																																<ul>
																																		<li>8,685 lb</li>
																																		<li>3,940 kg</li>
																																</ul>
																														</div>
																														<!-- end of sub accordion item body contents -->
																												</div>
																												<!-- end of sub accordion item body -->
																										</div>
																										<!-- end of sub accordion item -->
																										<div class="accordion__item js-accordion-item">
																												<div class="accordion-header js-accordion-header">
																														PESO MÁXMO
																												</div>
																												<div class="accordion-body js-accordion-body">
																														<div class="accordion-body__contents">
																																<ul>
																																		<li>62,965 lb</li>
																																		<li>28,560 kg</li>
																																</ul>
																														</div>
																														<!-- end of sub accordion item body contents -->
																												</div>
																												<!-- end of sub accordion item body -->
																										</div>
																										<!-- end of sub accordion item -->
																										<div class="accordion__item js-accordion-item">
																												<div class="accordion-header js-accordion-header">
																														PESO BRUTO
																												</div>
																												<div class="accordion-body js-accordion-body">
																														<div class="accordion-body__contents">
																																<ul>
																																		<li>71,650 lb</li>
																																		<li>32,500 kg</li>
																																</ul>
																														</div>
																														<!-- end of sub accordion item body contents -->
																												</div>
																												<!-- end of sub accordion item body -->
																										</div>
																										<!-- end of sub accordion item -->
																								</div>
																						</div>
																				</div>
																		</div>
																</div>
														</div>
												</div>
										</div>

								</div>
						</div>

				</div>
		</div>
</section>
<!-- Single-Service-End-->

{% endblock %}
{% block scripts %}
<script>
		$('.panel-collapse').on('show.bs.collapse', function () {
				$(this)
						.siblings('.panel-heading')
						.addClass('active');
		});

		$('.panel-collapse').on('hide.bs.collapse', function () {
				$(this)
						.siblings('.panel-heading')
						.removeClass('active');
		});
</script>
{% endblock scripts %}