{% extends "layout.njk" %}

{% set page_title = 'CGS GROUP | Incoterms' %}

{% block navbar %}
   {% import "macros/navbar.njk" as nav %}
   {{nav.active('incoterms', 'es')}}
{% endblock %}

{% block secciones %}
   <div class="jumbotron jumbotron-fluid" style="background-image:url('img/bg_info.jpg')">
      <div class="container">
         <div class="row">

            <div class="col-12 col-lg-12 mx-auto">
               <ul class="list-inline">
                  <li class="list-inline-item">
                     <h1 class="display-1">Herramientas /</h1>
                  </li>
                  <li class="list-inline-item">
                     <h1>Incoterms</h1>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>

   <section id="incoterms-section" class="container content pt-5">
      <div class="row">
         <div id="incoterms" class="col-12 col-lg-12 mx-auto pt-2">
             <h3 class="section-title pt-2">Transporte marítimo </h3>
            <div class="incoterm-section">
               <div class="incoterms-bg"></div>
               <div class="incoterms-ranges">
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Mercancía acondicionada para su venta</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Carga en la fábrica del vendedor</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Transporte interno en origen</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Formalidades aduaneras en exportación</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Gastos de manipulación de origen</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Transporte</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Seguro de las mercancías</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Gastos de manipulación de destino</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Formalidades aduaneras en importación</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Transporte interno en destino</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Entrega de mercancia al comprador</span></div>

               </div>
               <div class="incoterm-block">
                  <div class="incoterm-title">FAS</div>
                  <div class="incoterm-bars">
                     <div class="cssProgress">
                        <div class="progress2">
                           <div class="cssProgress-bar bar1 cssProgress-bar-1" data-percent="36">
                              <span class="cssProgress-label" style="">Vendedor</span></div>
                           <div class="cssProgress-bar bar2 cssProgress-bar-2" data-percent="64">
                              <span class="cssProgress-label" style="">Comprador</span></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="incoterm-block">
                  <div class="incoterm-title">FOB</div>
                  <div class="incoterm-bars">
                     <div class="cssProgress">
                        <div class="progress2">
                           <div class="cssProgress-bar bar1 cssProgress-bar-1" data-percent="41">
                              <span class="cssProgress-label" style="">Vendedor</span></div>
                           <div class="cssProgress-bar bar2 cssProgress-bar-2" data-percent="59">
                              <span class="cssProgress-label" style="">Comprador</span></div>
                        </div>
                     </div>

                  </div>

               </div>
               <div class="incoterm-block">
                  <div class="incoterm-title">CFR</div>
                  <div class="incoterm-bars">
                     <div class="cssProgress">
                        <div class="progress2">
                           <div class="cssProgress-bar bar1 cssProgress-bar-1" data-percent="54">
                              <span class="cssProgress-label" style="">Vendedor</span></div>
                           <div class="cssProgress-bar bar2 cssProgress-bar-2" data-percent="46">
                              <span class="cssProgress-label" style="">Comprador</span></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="incoterm-block">
                  <div class="incoterm-title">CIF</div>
                  <div class="incoterm-bars">
                     <div class="cssProgress">
                        <div class="progress2">
                           <div class="cssProgress-bar bar1 cssProgress-bar-1" data-percent="63">
                              <span class="cssProgress-label" style="">Vendedor</span></div>
                           <div class="cssProgress-bar bar2 cssProgress-bar-2" data-percent="37">
                              <span class="cssProgress-label" style="">Comprador</span></div>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
            
            <h3 class="section-title pt-2">TODO TIPO DE TRANSPORTE
            </h3>
            <div class="incoterm-section">
               <div class="incoterms-bg"></div>
               <div class="incoterms-ranges">
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Mercancía acondicionada para su venta</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Carga en la fábrica del vendedor</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Transporte interno en origen</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Formalidades aduaneras en exportación</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Gastos de manipulación de origen</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Transporte</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Seguro de las mercancías</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Gastos de manipulación de destino</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Formalidades aduaneras en importación</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Transporte interno en destino</span></div>
                  <div class="incoterm-range incoterm-range-2020">
                     <span>Entrega de mercancia al comprador</span></div>

               </div>
               <div class="incoterm-block">
                  <div class="incoterm-title">EXW</div>
                  <div class="incoterm-bars">
                     <div class="cssProgress">
                        <div class="progress2">
                           <div class="cssProgress-bar bar1 cssProgress-bar-1" data-percent="9">
                              <span class="cssProgress-label" style="">Vendedor</span></div>
                           <div class="cssProgress-bar bar2 cssProgress-bar-2" data-percent="91">
                              <span class="cssProgress-label" style="">Comprador</span></div>
                        </div>
                     </div>

                  </div>

               </div>
               <div class="incoterm-block">
                  <div class="incoterm-title">FCA</div>
                  <div class="incoterm-bars">
                     <div class="cssProgress">
                        <div class="progress2">
                           <div class="cssProgress-bar bar1 cssProgress-bar-1" data-percent="45">
                              <span class="cssProgress-label" style="">Vendedor</span></div>
                           <div class="cssProgress-bar bar2 cssProgress-bar-2" data-percent="55">
                              <span class="cssProgress-label" style="">Comprador</span></div>
                        </div>
                     </div>

                  </div>

               </div>

               <div class="incoterm-block">
                  <div class="incoterm-title">CPT</div>
                  <div class="incoterm-bars">
                     <div class="cssProgress">
                        <div class="progress2">
                           <div class="cssProgress-bar bar1 cssProgress-bar-1" data-percent="55">
                              <span class="cssProgress-label" style="">Vendedor</span></div>
                           <div class="cssProgress-bar bar2 cssProgress-bar-2" data-percent="45">
                              <span class="cssProgress-label" style="">Comprador</span></div>
                        </div>
                     </div>

                  </div>

               </div>
               <div class="incoterm-block">
                  <div class="incoterm-title">CIP</div>
                  <div class="incoterm-bars">
                     <div class="cssProgress">
                        <div class="progress2">
                           <div class="cssProgress-bar bar1 cssProgress-bar-1" data-percent="64">
                              <span class="cssProgress-label" style="">Vendedor</span></div>
                           <div class="cssProgress-bar bar2 cssProgress-bar-2" data-percent="36">
                              <span class="cssProgress-label" style="">Comprador</span></div>
                        </div>
                     </div>

                  </div>

               </div>
               <div class="incoterm-block">
                  <div class="incoterm-title">DAT</div>
                  <div class="incoterm-bars">
                     <div class="cssProgress">
                        <div class="progress2">
                           <div class="cssProgress-bar bar1 cssProgress-bar-1" data-percent="72">
                              <span class="cssProgress-label" style="">Vendedor</span></div>
                           <div class="cssProgress-bar bar2 cssProgress-bar-2" data-percent="28">
                              <span class="cssProgress-label" style="">Comprador</span></div>
                        </div>
                     </div>

                  </div>

               </div>
               <div class="incoterm-block">
                  <div class="incoterm-title">DAP</div>
                  <div class="incoterm-bars">
                     <div class="cssProgress">
                        <div class="progress2">
                           <div class="cssProgress-bar bar1 cssProgress-bar-1" data-percent="72">
                              <span class="cssProgress-label" style="">Vendedor</span></div>
                           <div class="cssProgress-bar bar2 cssProgress-bar-2" data-percent="10">
                              <span class="cssProgress-label" style="">Comprador</span></div>
                           <div class="cssProgress-bar bar3 cssProgress-bar-1" data-percent="18">
                              <span class="cssProgress-label" style="">Vendedor</span></div>
                        </div>
                     </div>

                  </div>

               </div>
               <div class="incoterm-block">
                  <div class="incoterm-title">DDP</div>
                  <div class="incoterm-bars">
                     <div class="cssProgress">
                        <div class="progress2">
                           <div class="cssProgress-bar bar1 cssProgress-bar-1" data-percent="100">
                              <span class="cssProgress-label" style="">Vendedor</span></div>
                        </div>
                     </div>

                  </div>

               </div>

            </div>

           
         </div>
      </div>
      <div class="row incoterm-data pt-2">

         <div class="col-12 incoterm-remark pb-2 pt-2">
            <p>
               <strong>
                  Apunte:
               </strong>
               Para obtener una explicación detallada, consulte la publicación INCOTERMS® 2020 de la Cámara de Comercio Internacional (ICC). Este documento se proporciona a nuestros clientes solo con fines informativos. Consulte el texto oficial de la ICC para obtener una descripción completa y detallada de todos los derechos y responsabilidades derivados del uso de los Incoterms antes mencionados (<a href="https://iccwbo.org" target="_new">https://iccwbo.org</a>)</p>
         </div>
      </div>
   </section>
{% endblock %}