{% extends "layout.njk" %}

{% set page_title = 'CGS GROUP | Servicios' %}

{% block navbar %}
   {% import "macros/navbar.njk" as nav %}
   {{nav.active('servicios')}}
{% endblock %}

{% block secciones %}

   <section class="page-title-section">
      <div class="container">
         <div class="row">
            <div class="col-xs-12">
               <div class="page-header-wrap">
                  <div class="page-header">
                     <h1>Servicios</h1>
                  </div>
                  <ol class="breadcrumb">
                     <li>
                        <a href="#">Home</a>
                     </li>
                     <li class="active">Servicios</li>
                  </ol>
               </div>
            </div>
         </div>
      </div>
   </section>

   <!-- Single-Service-Start -->
   <section class="single-service-contents">
      <div class="container">
         <div class="row">
            <div class="col-md-3 col-sm-5 col-xs-12">
               <div class="service-sidebar">

                  <div class="widget">
                     <div class="table-father direct  active">
                           <ul class="service-list ">
                              <li class="active">
                                 <a data-toggle="tab" href="#marino" class="icon-marine">Marítimo</a>
                              </li>
                              <li>
                                 <a data-toggle="tab" href="#terrestre" class="icon-trucking">Terrestre</a>
                              </li>
                              <li>
                                 <a data-toggle="tab" href="#aereo" class="icon-air">Aéreo</a>
                              </li>
                              <li>
                                 <a data-toggle="tab" href="#aduana" class="icon-store">Despacho de Aduana</a>
                              </li>

                              <li>
                                 <a data-toggle="tab" href="#seguros" class="icon-transportation">Seguros</a>
                              </li>

                           </ul>
                     </div>

                  </div>
                  <!-- /.widget -->

                  <div class="widget">
                     <h2 class="widget-title">Horarios</h2>
                     <div class="textwidget">
                        <p>Lunes - Viernes: 9:00 - 18:00<br>
                           Sábados: 9:00 - 2:00<br>
                           Vacaciones: 9:00 - 12:00</p>
                     </div>
                  </div>
                  <!-- /.widget -->
               </div>
               <!-- /.sidebar-wrapper -->
            </div>
            <!-- /.col -->
            <div class="col-md-9 col-sm-7 col-xs-12 tab-content">

               <div id="marino" class="single-service-content tab-pane fade in active">
                  <h2>COBERTURA GLOBAL</h2>
                  <p>Operamos en todas las rutas internacionales con el fin de garantizar a nuestros clientes una cobertura global completa para el tráfico de sus mercaderías.</p>

                  <br>
                  <div class="row">

                     <div class="col-sm-7 col-xs-12">
                        <h3>El servicio abarca:</h3>
                        <ul>
                           <li>- Carga Suelta</li>
                           <li>- Contenedores</li>
                           <li>- Break Bulk</li>
                           <li>- Carga con Extra-Medida</li>
                           <li>- Carga Refrigerada y Perecedera</li>
                           <li>- Carga a granel</li>
                           <li>- Flexitank</li>
                           <li>- Proyectos Industriales</li>
                           <li>- Consolidaci&oacute;n / Desconsolidaci&oacute;n</li>
                           <li>- Inspecciones de carga</li>
                           <li>- IMO</li>
                           <li>- Isotanque</li>
                           <li>- Puerta a puerta</li>
                           <li>- Despacho de Aduana</li>
                        </ul>
                     </div>
                     <!-- /.col -->
                     <div class="col-sm-5 col-xs-12">
                        <div class="single-service-thumb">
                           <img src="img/service/marinethumb.jpg" alt="image"/>
                        </div>
                     </div>
                  </div>
                  <!-- /.row -->

               </div>
               <!-- /.single-service-content -->

               <div id="terrestre" class="single-service-content tab-pane fade">
                  <img class="img-alignnone" src="img/service/truckingthumb.png" alt="image">
                  <h2>SEGUIMIENTO DE PUNTA A PUNTA</h2>
                  <p>Servicios de corta, media y larga distancia, con vehículos acordes a cada necesidad puntual. Cada unidad cuenta con Sistema de Posicionamiento Global proporcionado y administrado por empresa homologada. Nuestro departamento de operaciones coordina, administra y realiza el seguimiento de cada viaje e informa a nuestros clientes el estado del mismo durante todo el trayecto.</p>
                  <br>
                  <div class="row">

                     <div class="col-sm-7 col-xs-12">
                        <h3>Opciones de servicio:</h3>
                        <ul>
                           <li>- Carga Parcial&nbsp;</li>
                           <li>- Camion Completo.&nbsp;</li>
                           <li>- Carga con Extramedidas</li>
                           <li>- Tr&aacute;fico Pesado</li>
                           <li>- Despacho de Aduanas</li>
                           <li>- Recogida y Entrega</li>
                           <li>- Unidades con generadores de fr&iacute;o</li>
                        </ul>
                     </div>
                     <!-- /.col -->
                     <div class="col-sm-5 col-xs-12">
                        <div class="single-service-thumb">
                           <img src="https://via.placeholder.com/335x420" alt="image"/>
                        </div>
                     </div>
                  </div>
                  <!-- /.row -->

               </div>

               <div id="aereo" class="single-service-content tab-pane fade ">
                  <div class="single-service-thumb">
                     <img src="img/service/airthumb.jpg" alt="image"/>
                  </div>
                  <h2>DESDE Y HACIA CUALQUIER AEROPUERTO</h2>
                  <p>Nuestro servicio de flete aéreo, abarca desde y hacia cualquier aeropuerto del mundo. Nuestros especialistas organizaran su transporte aéreo con el objetivo de minimizar el tiempo de tránsito, optimizar el coste de transporte y asegurar la integridad de la mercadería bajo nuestra custodia, informando en forma precisa y detallada el movimiento de su carga durante todo el trayecto.</p><br>
                  <div class="row">

                     <div class="col-sm-7 col-xs-12">
                        <h3>El servicio abarca:</h3>
                        <ul>
                           <li>- Recogida, entrega y distribuci&oacute;n.&nbsp;</li>
                           <li>- Soluciones multimodales (combinando con servicios terrestres y maritimos)&nbsp;</li>
                           <li>- Gesti&oacute;n de la documentaci&oacute;n&nbsp;</li>
                           <li>- Servicios de despacho de aduanas</li>
                           <li>- Manejo especial&nbsp;</li>
                           <li>- Consolidaci&oacute;n / Desconsolidaci&oacute;n</li>
                        </ul>
                     </div>
                     <!-- /.col -->
                     <div class="col-sm-5 col-xs-12">
                        <div class="single-service-thumb">
                           <img src="https://via.placeholder.com/335x420" alt="image"/>
                        </div>
                     </div>
                  </div>
                  <!-- /.row -->

               </div>
               <!-- /.single-service-content -->

               <div id="aduana" class="single-service-content tab-pane fade">
                  <img class="img-alignnone" src="img/service/logisticthumb.png" alt="image">
                  <h2>ASESORAMIENTO INTEGRAL</h2>
                  <p>- Asesoramiento integral sobre las necesidades y requisitos de cada embarque.</p>
                  <p>- Asesoramiento en Régimen Legal Aduanero.</p>
                  <p>- Clasificación Arancelaria de todo tipo de mercadería.</p>
                  <p>Destinaciones de Importación y Exportación (Definitivas, Temporales, en Consignación, Tránsitos, Trasbordos, Traslados, Reembarcos, Efectos Personales, Encomiendas Postales.)</p>
                  <p>Tramitaciones ante organismos oficiales (Secretaria de Industria y Comercio, SENASA, IASCAV, INAL, ANMAT, Cámaras, etc.)
                  </p>
                  <p>Declaraciones Juradas Anticipadas de Importación, Licencias no Automáticas.</p>
                  <br>

               </div>
               <!-- /.single-service-content -->

               <div id="seguros" class="single-service-content tab-pane fade">

                  <div class="row">
                     <div class="col-xs-12 col-sm-6">
                        <img class="img-alignleft" src="img/service/shippingthumb.png" alt="image">
                     </div>
                     <div class="col-xs-12 col-sm-6">
                        <h2>COBERTURA TOTAL</h2>
                        <p>Una completa y variada gama de seguros para sus embarques de importación y exportación, con cobertura puerta a puerta.</p>
                        <p>El seguro de transporte cubre la mercadería transportada, de todos los riesgos que pudieran surgir en la travesía tales como robos, roturas, pérdidas, depósitos intermedios, huelgas, guerras, averías gruesas, etc.</p>

                        <p>Para consultar o solicitar cobertura, completá el siguiente formulario:</p>

                        <br>
                     </div>
                  </div>

               </div>
               <!-- /.single-service-content -->

            </div>
            <!-- /.col -->
         </div>
         <!-- /.row -->
      </div>
      <!-- /.container -->
   </section>
   <!-- Single-Service-End-->

{% endblock %}