{% extends "layout.njk" %}

{% set page_title = 'CGS GROUP | Servicios' %}

{% block navbar %}
   {% import "macros/navbar.njk" as nav %}
   {{nav.active('servicios', 'es')}}
{% endblock %}

{% block secciones %}

   <div class="jumbotron jumbotron-fluid" style="background-image:url('img/bg_servicios2.jpg')">
      <div class="container">
         <h1>Servicios</h1>
      </div>
   </div>
   <div class="d-none scroll">
      <div class="chevron"></div>
   </div>

   <!-- Single-Service-Start -->
   <section class="servicios">
      <div class="container">
         <div class="row">
            <div class=" col-12 col-lg-3">

               <div class="cgs-tabs">
                  <!-- Nav tabs -->
                  <ul class="nav nav-pills nav-services mt-2 mt-lg-0">
                     <li class="nav-item">
                        <a href="#maritimo" aria-controls="maritimo" role="tab" data-toggle="pill" class="nav-link active" aria-selected="true">
                           <i class="fas fa-ship"></i>
                           Marítimo</a>
                     </li>
                     <li class="nav-item">
                        <a href="#terrestre" aria-controls="terrestre" role="tab" data-toggle="pill" class="nav-link" aria-selected="false">
                           <i class="fas fa-truck"></i>
                           Terrestre</a>
                     </li>
                     <li class="nav-item">
                        <a href="#aereo" aria-controls="aereo" role="tab" data-toggle="pill" class="nav-link" aria-selected="false">
                           <i class="fas fa-plane"></i>
                           Aéreo</a>
                     </li>

                     <li class="nav-item">
                        <a href="#seguro" aria-controls="seguro" role="tab" data-toggle="pill" class="nav-link" aria-selected="false">
                           <i class="far fa-handshake"></i>
                           Seguros</a>
                     </li>
                     <li class="nav-item">
                        <a href="#aduana" aria-controls="aduana" role="tab" data-toggle="pill" class="nav-link" aria-selected="false">
                           <i class="fas fa-balance-scale"></i>
                           Despacho de Aduana</a>
                     </li>

                  </ul>

               </div>

            </div>
            <div class="col-12 col-lg-9 mt-4 mt-lg-0">
               <div class="tab-content mt-4 mt-md-0">
                  <div class="tab-pane active fade show" role="tabpanel" aria-labelledby="maritimo-tab" id="maritimo">
                     <div class="css-tab-content">
                        <div class="img-service" style="background-image:url('img/maritimo.jpg')"></div>
                        <h2>COBERTURA GLOBAL</h2>
                        <p>Operamos en todas las rutas internacionales con el fin de garantizar a nuestros clientes una cobertura global completa para el tráfico de sus mercaderías.</p>
                        <div class="row mt-4">
                           <div class="col-12 col-md-6">
                              <ul class="fa-ul">
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Carga Suelta</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Contenedores</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Break Bulk</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Carga con Extra-Medida</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Carga Refrigerada y Perecedera</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Carga a granel</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Flexitank</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Proyectos Industriales</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Consolidaci&oacute;n / Desconsolidaci&oacute;n</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Inspecciones de carga</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>IMO</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Isotanque</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Puerta a puerta</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Despacho de Aduana</li>
                              </ul>
                           </div>
                           <div class="col-12 col-md-6">
                              <img class="img-fluid" src="img/service/marinethumb.jpg" alt="image"/>
                           </div>
                        </div>
                     </div>

                  </div>
                  <div class="tab-pane fade" role="tabpanel" aria-labelledby="terrestre-tab" id="terrestre">
                     <div class="css-tab-content">
                        <div class="img-service" style="background-image:url('img/terrestre.jpg')"></div>
                        <h2>SEGUIMIENTO DE PUNTA A PUNTA</h2>
                        <p>Servicios de corta, media y larga distancia, con vehículos acordes a cada necesidad puntual. Cada unidad cuenta con Sistema de Posicionamiento Global proporcionado y administrado por empresa homologada. Nuestro departamento de operaciones coordina, administra y realiza el seguimiento de cada viaje e informa a nuestros clientes el estado del mismo durante todo el trayecto.</p>
                        <div class="row mt-4">
                           <div class="col-12 col-md-6">
                              <ul class="fa-ul">
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Carga Parcial&nbsp;</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Camion Completo.&nbsp;</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Carga con Extramedidas</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Tr&aacute;fico Pesado</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Despacho de Aduanas</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Recogida y Entrega</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Unidades con generadores de fr&iacute;o</li>
                              </ul>
                           </div>
                           <div class="col-12 col-md-6">
                              <img src="img/servicio_terrestre.jpg" alt="image"/>
                           </div>
                        </div>
                     </div>

                  </div>
                  <div class="tab-pane fade" role="tabpanel" aria-labelledby="aereo-tab" id="aereo">
                     <div class="css-tab-content">
                        <div class="img-service" style="background-image:url('img/aereo.jpg')"></div>
                        <h2>DESDE Y HACIA CUALQUIER AEROPUERTO</h2>
                        <p>Nuestro servicio de flete aéreo, abarca desde y hacia cualquier aeropuerto del mundo. Nuestros especialistas organizaran su transporte aéreo con el objetivo de minimizar el tiempo de tránsito, optimizar el coste de transporte y asegurar la integridad de la mercadería bajo nuestra custodia, informando en forma precisa y detallada el movimiento de su carga durante todo el trayecto.</p>
                        <div class="row mt-4">
                           <div class="col-12 col-md-6">
                              <ul class="fa-ul">
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Recogida, entrega y distribuci&oacute;n.&nbsp;</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Soluciones multimodales (combinando con servicios terrestres y maritimos)&nbsp;</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Gesti&oacute;n de la documentaci&oacute;n&nbsp;</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Servicios de despacho de aduanas</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Manejo especial&nbsp;</li>
                                 <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Consolidaci&oacute;n / Desconsolidaci&oacute;n</li>
                              </ul>
                           </div>
                           <div class="col-12 col-md-6">
                              <img src="img/servicio_aereo.jpg" alt="image"/>
                           </div>
                        </div>
                     </div>

                  </div>
                  <div class="tab-pane fade" role="tabpanel" aria-labelledby="seguro-tab" id="seguro">
                     <div class="css-tab-content">
                        <div class="img-service" style="background-image:url('img/seguros.jpg')"></div>
                        <h2>ASESORAMIENTO INTEGRAL</h2>
                        <p>Asesoramiento en Régimen Legal Aduanero, clasificación Arancelaria de todo tipo de mercadería..</p>
                        <div class="row mt-4">
                           <div class="col-12 col-md-6">
                              <p>- Asesoramiento integral sobre las necesidades y requisitos de cada embarque.</p>
                              <p>- Asesoramiento en Régimen Legal Aduanero.</p>
                              <p>- Clasificación Arancelaria de todo tipo de mercadería.</p>
                              <p>Destinaciones de Importación y Exportación (Definitivas, Temporales, en Consignación, Tránsitos, Trasbordos, Traslados, Reembarcos, Efectos Personales, Encomiendas Postales.)</p>
                              <p>Tramitaciones ante organismos oficiales (Secretaria de Industria y Comercio, SENASA, IASCAV, INAL, ANMAT, Cámaras, etc.)
                              </p>
                              <p>Declaraciones Juradas Anticipadas de Importación, Licencias no Automáticas.</p>
                           </div>
                           <div class="col-12 col-md-6">
                              <img src="img/servicio_seguros.jpg" alt="image"/>
                           </div>
                        </div>
                     </div>

                  </div>
                  <div class="tab-pane fade" role="tabpanel" aria-labelledby="aduana-tab" id="aduana">
                     <div class="css-tab-content">
                        <div class="img-service" style="background-image:url('img/aduana.jpg')"></div>
                        <h2>COBERTURA TOTAL</h2>
                        <p>Una completa y variada gama de seguros para sus embarques de importación y exportación, con cobertura puerta a puerta.</p>
                        <div class="row mt-4">
                           <div class="col-12 col-md-6">
                              <p>El seguro de transporte cubre la mercadería transportada, de todos los riesgos que pudieran surgir en la travesía tales como robos, roturas, pérdidas, depósitos intermedios, huelgas, guerras, averías gruesas, etc.</p>
                           </div>
                           <div class="col-12 col-md-6">
                              <img src="img/servicio_aduana.jpg" alt="image">
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>

         </div>
      </div>
   </section>
   <!-- Single-Service-End-->

{% endblock %}