$black:black;

@import 'assets/colors.scss';

* {
  margin: 0;
  padding: 0;
  color: $black;
}

body {
  box-sizing: border-box;
  border: none;
  min-height: 100vh;

}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.container-fluid.main {
  padding: 0;
}

#my-slider .sp-thumbnail {
  width: 100%;
  padding: 8px;
  background-color: #F0F0F0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#my-slider .sp-thumbnail-title {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #333;
}

#my-slider .sp-thumbnail-description {
  font-size: 14px;
  color: #333;
}

@media (max-width: 860px) {
  #my-slider .hide-medium-screen {
    display: none;
  }
}

@media (max-width: 640px) {
  #my-slider .sp-layer {
    font-size: 12px;
  }

  #my-slider .hide-small-screen {
    display: none;
  }
}

@media (max-width: 500px) {
  #my-slider .sp-thumbnail {
    text-align: center;
  }

  #my-slider .sp-thumbnail-title {
    font-size: 12px;
    text-transform: uppercase;
  }

  #my-slider .sp-thumbnail-description {
    display: none;
  }
}

/* ===================== LOCATION MENU ===================== */ 

.call-to-action {
  i {
     color:$color_viking;
  }
 
}
.menu-locations {
  display: flex;
  justify-content: flex-end;

  .cs-select  {
    .cs-options {
      span {
        padding:3px 6px;
        &:hover,
        &:focus {
          background-color: $color_viking;
          color: white;
        }
      }
      .cs-selected {
        span {
          background-color: $color_viking;
          color:white;
        }
      }
      
    }
  }
  .loc {
    width:150px;
    span.cs-placeholder {
      &:after {
        content:"\f0ac";
      }
    }
  }
  
}

/* ===================== NAV MENU ===================== */
.logo {
  height:auto;
  padding:0;
}
.navbar-default {
  min-height:inherit;
  .mainnav {
    padding:12px 10px;
     .navbar-header {
       display: flex;
       align-items: center;

       .logo {
         margin-left: 10px;
         max-width: 110px;
       }

       .navbar-toggle {
         border-color: transparent;
         color: #7b8a97;
         font-size: 24px;
         margin-top: 0;
         margin-right:6px;

         &:focus,
         &:hover {
           background-color: inherti;

           i {
             color: $color_viking;
           }
         }
       }
     }
  }
 
  
}
