{% macro active(activePage = 'home', lang = '') %}

   <header class="header">
      <nav class="top-bar visible-lg">
         <div class="overlay-bg">
            <ul class="container">
               <li>
                  <a href="index.html">ESP</a>
               </li>
               <li>
                  <a href="eng_index.html">ENG</a>
               </li>
            </ul>
         </div>

         <!-- /.overlay-bg -->
      </nav>
      <!-- /.top-bar -->

      <div class="seguimiento" id="search">
         <button type="button" class="close">×</button>
         <form>
            <input type="search" value="" placeholder="Nombre de Usuario"/>
            <input type="search" value="" placeholder="Contraseña"/>
            <button type="submit" class="btn btn-primary">Ingresar</button>
         </form>
      </div>

      <div class="seguimiento" id="quote">
         <button type="button" class="close">×</button>
         <form>
            <input type="text" value="" placeholder="Empresa"/>
            <select name="" id="">
               <option value="">Marítimo FCL</option>
               <option value="">Maritimo FCL</option>
               <option value="">Aereo</option>
               <option value="">Terrestre</option>
               <option value="">Multimodal</option>
            </select>
            <input type="text" value="value" placeholder="Origen">
            <input type="text" value="value" placeholder="Destino">
            <select name="" id="">
               <option value="">Equipo
               </option>
            </select>
            <input type="text" value="value" placeholder="Obs / Nota adicional">

            <button type="submit" class="btn btn-primary">Ingresar</button>
         </form>
      </div>
      <div class="seguimiento" id="book">
         <button type="button" class="close">×</button>
         <form>
            <input type="text" value="" placeholder="Cotizacion"/>
            <input type="text" value="" placeholder="Empresa"/>
            <select name="" id="">
               <option value="">Marítimo FCL</option>
               <option value="">Maritimo FCL</option>
               <option value="">Aereo</option>
               <option value="">Terrestre</option>
               <option value="">Multimodal</option>
            </select>
            <input type="text" value="value" placeholder="Origen">
            <input type="text" value="value" placeholder="Destino">
            <select name="" id="">
               <option value="">Equipo
               </option>
            </select>
            <input type="text" value="value" placeholder="Obs / Nota adicional">
         </form>
      </div>

      <nav class="navbar navbar-default" role="navigation">

         <div class="container mainnav">
            <div class="navbar-header">
               <!-- Logo Nuevo <a class="logo visible-lg navbar-brand" href="index.html"><img src="img/logo_color_w.png" alt=""></a> <a class=" logo hidden-lg navbar-brand" href="index.html"><img src="img/logo_color_m.png" alt=""></a> -->
               <a class=" logo navbar-brand" href="index.html"><img src="img/logo_viejo.jpg" alt=""></a>
               <!-- offcanvas-trigger -->
               <button type="button" class="navbar-toggle collapsed pull-right hidden-lg">
                  <span class="sr-only">Toggle navigation</span>
                  <i class="fa fa-bars"></i>
               </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-collapse">

               <ul class="nav navbar-nav navbar-right">
                  {% if lang == 'es' %}
                     <li class="{%if activePage == 'home' %} active {%endif%} ">
                        <a href="index.html">Home</a>
                     </li>
                     <li class="{%if activePage == 'servicios' %} active {%endif%} ">
                        <a href="servicios.html">Servicios</a>
                     </li>

                     <li class="{%if activePage == 'informacion' %} active {%endif%} ">
                        <a href="#">Información</a>
                     </li>
                     <li >
                        <a data-toggle="modal" data-target="#quoteModal" href="#">Contacto</a>
                     </li>
                     {# <li class="find-track">
                     <a href="#search">Seguimiento</a>
                  </li> #}

                     <li class=" dropdown">
                        <a class="btn-cgs">Mi CGS<span class="fa fa-angle-down"></span></a>
                        <div class="submenu-wrapper">
                           <div class="submenu-inner">
                              <ul class="dropdown-menu trackeo">
                                 <li>
                                    <a href="#quote">Cotización</a>
                                 </li>
                                 <li>
                                    <a href="#book">Reservar</a>
                                 </li>
                                 <li>
                                    <a href="#search">Rastreo</a>
                                 </li>
                              </ul>
                           </div>
                        </div>

                     </li>
                  {% endif %}
                  {%if lang =='en'%}
                     <li class="{%if activePage == 'home' %} active {%endif%} ">
                        <a href="index.html">Home</a>
                     </li>
                     <li class="{%if activePage == 'servicios' %} active {%endif%} ">
                        <a href="eng_servicios.html">Services</a>
                     </li>

                     <li class="{%if activePage == 'informacion' %} active {%endif%} ">
                        <a href="#">Information</a>
                     </li>
                     <li >
                        <a data-toggle="modal" data-target="#quoteModal" href="#">Contact</a>
                     </li>

                     <li class=" dropdown ">
                        <a class="btn-cgs">My CGS<span class="fa fa-angle-down"></span></a>
                        <div class="submenu-wrapper">
                           <div class="submenu-inner">
                              <ul class="dropdown-menu trackeo">
                                 <li>
                                    <a href="#quote">Quote</a>
                                 </li>
                                 <li>
                                    <a href="#book">Book</a>
                                 </li>
                                 <li>
                                    <a href="#search">Track</a>
                                 </li>
                              </ul>
                           </div>
                        </div>

                     </li>
                  {% endif %}

               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container -->

      </nav>

      

   </header>
   
   

{% endmacro %}