{% macro active(activePage = '', lang = '') %}

   <nav class="nav topnavbar ">

      <div class="container langs">
         <i class="fas fa-language"></i>
         <a class="{%if lang == 'es' %} active {%endif%}" href="index.html">ESP</a>
         <a class="{%if lang == 'en' %} active {%endif%}" href="#">ENG</a>
      </div>
      <div class="container py-md-2">
         <a class=" logo" href="index.html"><img src="img/logo.png" alt=""></a>
         <ul class="navlinks">
            {% if lang == 'es' %}

               <li class="{%if activePage == 'home' %} active {%endif%} ">
                  <a href="index.html">Nosotros</a>
               </li>
               <li class="{%if activePage == 'servicios' %} active {%endif%} ">
                  <a href="servicios.html">Servicios</a>
               </li>

               <li class="{%if activePage == 'informacion' %} active {%endif%} ">
                  <a href="informacion.html">Información</a>
               </li>
               <li class="{%if activePage == 'contacto' %} active {%endif%}">
                  <a href="contacto.html">Contacto</a>
               </li>
               <li class="">
                  <div class="dropdown">
                     <button class="btn btn-two-first dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mi CGS
                     </button>
                     <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item text-left" href="micgs.html#cotizacion">Cotización</a>
                        <a class="dropdown-item text-left" href="micgs.html#reserva">Reserva</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-left" href="micgs.html#seguimiento">Seguimiento</a>
                     </div>
                  </div>
               </li>

            {% endif %}
            {%if lang =='en'%}
               <li class="{%if activePage == 'home' %} active {%endif%} ">
                  <a href="index.html">Home</a>
               </li>
               <li class="{%if activePage == 'servicios' %} active {%endif%} ">
                  <a href="eng_servicios.html">Services</a>
               </li>

               <li class="{%if activePage == 'informacion' %} active {%endif%} ">
                  <a href="#">Information</a>
               </li>
               <li >
                  <a data-toggle="modal" data-target="#quoteModal" href="#">Contact</a>
               </li>
            {% endif %}

         </ul>
         <span onclick="openNav()" class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
         </span>
      </div>
   </nav>

{% endmacro %}