//colors
$color_tapa: rgba(119, 119, 119, 1);
$color_flamingo: rgba(255, 87, 34, 1);

$color_fuscous_gray: #757482;

$black_50: rgba(0, 0, 0, 0.5);
$black_21: rgba(0, 0, 0, 0.21);
$black_20: rgba(0, 0, 0, 0.2);

$white: rgba(255, 255, 255, 1);
$white_20: rgba(255, 255, 255, .2);
$white_50: rgba(255, 255, 255, .5);
$white_60: rgba(255, 255, 255, .6);
$white_75: rgba(255, 255, 255, .75);


$color_viking_bold:#2660A4;
$color_viking_medium:#0EB1D2;
$color_viking_regular:#34E4EA;
$color_viking: #89D2DC;
$color_viking_70: rgba(137, 210, 220, 0.7);
$color_viking_80: rgba(137, 210, 220, 0.8);

$color_jacarta_dark: #362968;
$color_jacarta_medium: #362968;
$color_jacarta:#5C4689;
$color_jacarta_light:#9C79B0;
$color_jacarta_60: rgba(54, 41, 104, 0.9);
$color_jacarta_fluor:#6564DB;

$green_bold:#0D3A15;
$green_medium : #135F1A;
$green_regular : #3E8C56;
$green_light : #3CAA73;
$green_fluor: #4ed8a3;
$green_fluor_5: rgba(79, 216, 163, 0.5);

$magenta_bold:#541733;
$magenta_medium:#9C2769;
$magenta_regular:#B54B6E;
$magenta_light:#D27F80;
$magenta_fluor:#F56476;

$seashell: #EDF7F6;



$color_jelly_bean: rgba(48, 124, 149, 1);
$color_jelly_bean_60: rgba(48, 124, 149, 0.6);

$color_jordy_60: rgba(125, 185, 232, .6);
$color_jordy_blue_60: rgba(125, 185, 232, 0.6);


$color_oslo_gray: rgba(123, 138, 151, 1);
$color_shuttle_gray: rgba(96, 102, 118, 1);
$color_gallery: rgba(234, 236, 238, 1);
$color_loblolly: rgba(191, 196, 210, 1);

$color_wild_sand: rgb(245, 245, 255);

$color-black-haze: rgba(241, 241, 241, 1);
$color_blue_haze: rgba(192, 195, 212, 1);

$color_mauvelous: rgba(242, 145, 168, 1);
$color_seagull: rgba(128, 197, 229, 1);
$color_rob_roy: rgba(243, 201, 121, 1);
$color_sinbad: rgba(164, 212, 209, 1);
$color_wild_willow: rgba(180, 205, 124, 1);
$color_celeste: rgba(204, 204, 204, 1);
$color_cararra: rgba(236, 236, 236, 1);
$color_alabaster: rgba(249, 249, 251, 1);
$color_gray_nurse: rgba(233, 233, 233, 1);
$color_mid_gray: rgba(92, 93, 106, 1);
$color_bon_jour: rgba(225, 225, 225, 1);
$color_shady_lady: #8c8787;
$color_desert_storm: rgba(248, 248, 248, 1);
$wild_sand: rgba(244, 244, 244, 1);
$color_mercury: rgba(227, 227, 227, 1);
$color_woodsmoke: rgba(17, 17, 17, 1);


$grey-300: #AEAEAE;

$violeta:rgb(54, 41, 104)