@media only screen and(max-width : 320px) {
   .branch {
      display: block;
      width: 100%;
      margin-bottom: 30px;
   }

   .employee {
      display: block;
      width: 100%;
      margin-bottom: 30px;
   }

   .delivery {
      display: block;
      width: 100%;
      margin-bottom: 30px;
   }
}

@media only screen and(max-width : 767px) {
   .navbar-toggle {
      margin: 10px 0 0;
   }

   .service-home {
      &.section-padding {
         padding-bottom: 50px;
      }

      
   }

   .counter-section .counter-block {
      text-align: center;
      margin-bottom: 50px;
   }

   .css-tab .nav-tabs>li {
      margin: 10px 0;

      >a {
         font-size: 16px;
         line-height: 20px;

         i::before {
            font-size: 24px;
            line-height: 26px;
            margin-top: 0;
         }
      }
   }

   .css-tab2 .nav-tabs li a {
      padding: 8px 5px;
   }

   .career ul.joblist li {
      &:last-child {
         float: none;
      }

      &:nth-child(2) {
         margin-right: 20px;
      }
   }
}

@media only screen and(max-width : 479px) {
   .blog-post-wrapper {
      .css-post-link {
         font-size: 16px !important;
         padding: 30px !important;
         line-height: 20px;
      }

      blockquote {
         a {
            font-size: 16px !important;
            padding: 30px !important;
            line-height: 20px;
         }

         footer {
            bottom: 10px !important;
         }
      }
   }

   .partner-carousel-navigation .prev {
      left: 82%;
   }

   .css-tab .nav-tabs>li {
      display: block;
      width: 100%;
   }

   .item .history-info {
      padding: 30px;
   }

   .company-in-number i::before {
      font-size: 50px;
   }
}

@media(min-width: 768px) {
   .navbar {
      padding: 15px 0;

      &.sticky {
         padding: 10px 0;
      }
   }

   .navbar-nav {
      padding-top: 10px;
   }

   .sticky {
      .navbar-nav {
         padding-top: 10px;
      }

      .search-button {
         margin-top: 10px;
      }

      .navbar-toggle {
         margin-top: 10px;
      }
   }

   .company-in-number i::before {
      font-size: 60px;
   }
}

@media(max-width: 991px) {
   #mainContact {
      margin-bottom: 60px;
   }
}

@media only screen and(min-width : 480px) and(max-width : 767px) {
   .partner-carousel-navigation .prev {
      left: 85%;
   }
}

@media only screen and(min-width : 768px) and(max-width : 991px) {}

@media only screen and(min-width : 1224px) {}

@media only screen and(min-width : 992px) {
   .section-padding {
      padding: 80px 0;
   }

   .sidebar-wrapper {
      &.right-sidebar {
         padding: 0 0 0 60px;
      }

      &.left-sidebar {
         padding: 0 60px 0 0;
      }
   }

   .partner-carousel-navigation {
      .prev {
         top: 50%;
         left: -15px;
      }

      .next {
         top: 50%;
         right: -15px;
      }
   }

   .about-intro-section {
      background-position: center;
   }
}

@media(min-width: 1200px) {}