//colors
$color_tapa: rgba(119, 119, 119, 1);
$color_flamingo: rgba(255, 87, 34, 1);
$color_fuscous_gray: rgba(85, 85, 85, 1);
$black_50: rgba(0, 0, 0, 0.5);
$color_viking: rgba(101, 211, 227, 1);
$color_jacarta: rgba(59, 43, 106, 1);
$color_jelly_bean: rgba(48, 124, 149, 1);
$color_jordy_blue: rgba(125, 185, 232, 1);
$color_jacarta_60: rgba(59, 43, 106, 0.6);
$color_jelly_bean_60: rgba(48, 124, 149, 0.6);
$color_jordy_blue_60: rgba(125, 185, 232, 0.6);
$color_black_haze: rgba(245, 246, 248, 1);
$white: rgba(255, 255, 255, 1);
$color_viking_70: rgba(101, 211, 227, 0.7);
$color_oslo_gray: rgba(123, 138, 151, 1);
$color_shuttle_gray: rgba(96, 102, 118, 1);
$color_gallery: rgba(234, 236, 238, 1);
$color_loblolly: rgba(191, 196, 210, 1);
$black_20: rgba(0, 0, 0, 0.2);
$color_wild_sand: rgba(242, 243, 245, 1);
$seashell: rgba(241, 241, 241, 1);
$color_blue_haze: rgba(192, 195, 212, 1);
$black_21: rgba(0, 0, 0, 0.21);
$color_mauvelous: rgba(242, 145, 168, 1);
$color_seagull: rgba(128, 197, 229, 1);
$color_rob_roy: rgba(243, 201, 121, 1);
$color_sinbad: rgba(164, 212, 209, 1);
$color_wild_willow: rgba(180, 205, 124, 1);
$color_celeste: rgba(204, 204, 204, 1);
$color_cararra: rgba(236, 236, 236, 1);
$color_alabaster: rgba(249, 249, 251, 1);
$color_gray_nurse: rgba(233, 233, 233, 1);
$color_mid_gray: rgba(92, 93, 106, 1);
$color_bon_jour: rgba(225, 225, 225, 1);
$color_shady_lady: rgba(167, 167, 167, 1);
$color_desert_storm: rgba(248, 248, 248, 1);
$wild_sand: rgba(244, 244, 244, 1);
$color_viking_80: rgba(101, 211, 227, 0.8);
$color_mercury: rgba(227, 227, 227, 1);
$color_woodsmoke: rgba(17, 17, 17, 1);