/*----------------------------------
 
Default custom select styles */

div.cs-select {
   display: inline-block;
   vertical-align: middle;
   position: relative;
   text-align: left;
   z-index: 100;
   width: 125px;
   max-width: 500px;
   height: 25px;
   line-height: 25px;
   border-radius: 20px;
   border: 1px solid rgba(255, 255, 255, 1);
}

.cs-select:focus {
   outline: none;
   /* For better accessibility add a style for this in your skin */
   ;
}

.cs-select select {
   display: none;
}

.cs-select span {
   display: block;
   font-size: 12px;
   font-weight: 300;
   position: relative;
   cursor: pointer;
   padding: 0 19px 0 12px;
   white-space: nowrap;
   text-overflow: ellipsis;
   text-transform: uppercase;
   height: 100%;
}

.cs-select span.cs-placeholder {
   position: relative;
   background: transparent;
   border: 0;
   border-radius: 30px;
   color: #fff;
}

.cs-select span.cs-placeholder:after {
   content: "\f1ab";
   position: absolute;
   top: -2px;
   right: -5px;
   width: 33px;
   height: 33px;
   /* background: #fff; */
   font-size: 22px;
      line-height: 28px;
      color:white;
      font-family: FontAwesome;
   }




/* Placeholder and selected option */


.cs-select>span::after,
.cs-select .cs-selected span::after {
   speak: none;
   position: absolute;
   top: 50%;
}

.cs-select>span::after {
   right: 0;
   border-radius: 50%;
   width: 28px;
   height: 28px;
   text-align: center;
}

div.cs-active {
   z-index: 200;
}

/* Options */
.cs-select .cs-options {
   position: absolute;
   overflow: hidden;
   width: 100%;
   background: rgba(68, 121, 148, 1);
   background: -moz-linear-gradient(top, rgba(68, 121, 148, 1) 0%, rgba(54, 41, 97, 1) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(68, 121, 148, 1)), color-stop(100%, rgba(54, 41, 97, 1)));
   background: -webkit-linear-gradient(top, rgba(68, 121, 148, 1) 0%, rgba(54, 41, 97, 1) 100%);
   background: -o-linear-gradient(top, rgba(68, 121, 148, 1) 0%, rgba(54, 41, 97, 1) 100%);
   background: -ms-linear-gradient(top, rgba(68, 121, 148, 1) 0%, rgba(54, 41, 97, 1) 100%);
   background: linear-gradient(to bottom, rgba(68, 121, 148, 1) 0%, rgba(54, 41, 97, 1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#447994', endColorstr='#362961', GradientType=0);
   visibility: hidden;
   box-shadow: 2px 3px 10px #00000057;

}

.cs-select.cs-active .cs-options {
   visibility: visible;
  
}

.cs-select ul {
   list-style: none;
   margin: 0;
   padding: 0;
   width: 100%;
    span {
       padding: 0 10px;
    }
    li {
       color:white;
       span {
          color:white;
       }
    }
    li.cs-focus span {
       background-color: #ddd;
    }

}



.cs-select ul 

.cs-select .cs-options span {
   background-repeat: no-repeat;
   background-position: 12px 48%;
   background-size: 15px auto;
   padding: 0 0px 0 35px;
}

.cs-select .cs-options span:hover,
.cs-select .cs-options li.cs-focus span,
.cs-select .cs-options .cs-selected span {
   color: #1e4c4a;
}

.cs-select .cs-options .cs-selected span::after {
   content: '';
}

.cs-select .cs-options li.flag-uk span {
   background-image: url(../img/flags/united-kingdom.svg);
}

.cs-select .cs-options li.flag-france span {
   background-image: url(../img/flags/france.svg);
}

.cs-select .cs-options li.flag-spain span {
   background-image: url(../img/flags/spain.svg);
}

.cs-select .cs-options li.flag-bd span {
   background-image: url(../img/flags/bangladesh.svg);
}
