<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{page_title}}</title>
      <!-- styles -->
      <script src="https://kit.fontawesome.com/ae45b49eac.js" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

      <link rel="stylesheet" href="css/bootstrap.css">

      <!-- -->
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="css/slider-pro.css">
      <script src="js/jquery.sliderPro.min.js"></script>

      <!-- Meta -->
      <meta name="description" content="Su solución en transporte de carga">
      <meta property="og:title" content="Bienvenidos a CGS GROUP"/>
      <meta property="og:url" content="alemarzano.github.io/cgs"/>
      <meta property="og:description" content="Su solución en transporte de carga">
      <meta property="og:image" content="https://cdn6.aptoide.com/imgs/3/6/2/362b03b054f84b74083d3929a7d700ac_icon.png?w=256">
      <meta property="og:type" content="website"/>
      <meta property="og:locale" content="es_AR"/>
      <meta property="og:locale:alternate" content="en_UK"/>

      <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
      <link rel="manifest" href="img/favicon/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
   </head>
   <body>
      <div class="loader">
         <div class="lds-facebook">
            <div></div>
            <div></div>
            <div></div>
         </div>
      </div>

      <header>
         {% block navbar %}
            {% import 'macros/navbar.njk' as nav%}
         {% endblock %}
      </header>

      <main>
         {% block secciones %}{% endblock %}
      </main>

      <footer >
         <div class="main-footer">
            <div class="container">
               <div class="row">
                  <div class="col-12 col-md-3">
                     <div class="widget no-box ">
                        <h5 class="widget-title">En Línea<span></span></h5>
                        <p>Solicitá cotitiizaciones, reservas, y conocé el estado de tus embarques.</p>
                        <div class="dropdown">
                           <button class="btn btn-second light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Mi CGS
                           </button>
                           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="micgs.html#cotizacion">Cotización</a>
                              <a class="dropdown-item" href="micgs.html#reserva">Reserva</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="micgs.html#seguimiento">Seguimiento</a>
                           </div>
                        </div>
                     </div>

                  </div>

                  <div class="col-12 col-md-3">
                     <div class="widget no-box">
                        <h5 class="widget-title">Contenido<span></span></h5>
                        <ul class="thumbnail-widget">
                           <li>
                              <div class="thumb-content">
                                 <a href="index.html">Nosotros</a>
                              </div>
                           </li>

                           <li>
                              <div class="thumb-content">
                                 <a href="info-contenedores.html">Contenedores</a>
                              </div>
                           </li>
                           <li>
                              <div class="thumb-content">
                                 <a href="incoterms.html">Incoterms</a>
                              </div>
                           </li>
                           <li>
                              <div class="thumb-content">
                                 <a href="documentos.html">Documentos</a>
                              </div>
                           </li>
                           <li>
                              <div class="thumb-content">
                                 <a href="contacto.html">Contacto</a>
                              </div>
                           </li>

                        </ul>
                     </div>
                  </div>

                  <div class="col-12 col-md-3">
                     <div class="widget no-box">
                        <h5 class="widget-title">Seguinos en<span></span></h5>
                        <ul class="social">
                           <li>
                              <a href="https://www.facebook.com/CGSGROUPSRL/?nr">
                                 <i class="fab fa-facebook-square"></i>
                              </a>
                           </li>
                           <li>
                              <a href="">
                                 <i class="fab fa-linkedin"></i>
                              </a>
                           </li>
                           <li>
                              <a href="https://twitter.com/SrlCgs">
                                 <i class="fab fa-twitter-square"></i>
                              </a>
                           </li>
                           <li>
                              <a href="https://www.instagram.com/cgsgrouparg/?hl=en">
                                 <i class="fab fa-instagram-square"></i>
                              </a>
                           </li>
                           <li>
                              <a href="">
                                 <i class="fab fa-whatsapp-square"></i>
                              </a>
                           </li>
                        </ul>

                     </div>

                  </div>

                  <div class="col-12 col-md-3">
                     <div class="widget no-box ">
                        <img class="widget-title img-fluid mr-4" src="img/logo-w.png" alt="">
                        <p class="mb-0">Uruguay 265 2 Piso – Oficina A
                           <br>
                           CABA, C1015ABE Buenos Aires - Argentina
                           <br>
                           (+54 11) 5199 2225
                        </p>
                        <h5 class="widget-title mb-2">
                           <span></span></h5>
                        <a class="mb-3 d-block" href="mailto:info@domain.com">info@cgsgroup.com</a>
                        <a class="d-block" href=""><img class="w-25" src="img/afip.jpg" alt=""></a>

                     </div>

                  </div>
               </div>

            </div>
         </div>

         <div class="footer-copyright">
            <p class="mb-0 p-0 text-center">

               ®2020. Todos los derechos reservados.
            </p>

         </div>
      </footer>

      <script src="js/popper.min.js"></script>

      <script src="js/bootstrap.min.js"></script>

      <script src="js/inview.js"></script>
      <script src="js/jquery.countTo.js"></script>
      <script src="js/tiny-slider.js"></script>

      <!-- Custom Script -->
      <script src="js/scripts.js"></script>
      <script src="js/incoterms.js"></script>

      {% block scripts %}{% endblock %}

   </body>
</html>