$transition: cubic-bezier(.17, .67, .5, 1.03);
$timing:.4s .15s;
$shadow: 2px 3px 4px $gray-600;
$soft-shadow:2px 4px 6px #5c5c5c5e;

.btn {
   transition: $transition $timing;
   border-radius:0;
   letter-spacing: 1px;
   &:hover {
      box-shadow:3px 3px 6px rgba($gray-400, 0.7);
   }
   
}
.btn-first {
   background-color: $primary-600;
   color:white;
   &:hover, &:focus {
      background-color: $primary-500;
      color:white;
   }
}
.btn-second {
   color:$primary-600;
   border:2px solid $primary-600;
   &:hover, &:focus, &:active{
      background-color: $primary-600;
      color:$primary-100;
   }
   &.light {
      color:$primary-100;
      border-color:$primary-200;
       &:hover {
          background-color: $primary-100;
          color:$primary-600;
          border-color:$primary-100;
       }
   }
}
.btn-third {
   color:$primary-600;
   text-decoration: underline;
}

.btn-two-first {
   background-color: $secondary-700;
   color:white;
   font-weight: 600;
   &:hover, &:focus {
      background-color: $secondary-900;
      color:white;
   }
}
.btn-two-second {
   color:$secondary-600;
   border:2px solid $secondary-600;
   &:hover{
      background-color: $secondary-600;
      color:$secondary-100;
   }
   
}
.btn-two-third {
   color:$secondary-600;
   text-decoration: underline;
}

.btn-rounded {
   border-radius:24px;
}

.scroll {
   position: relative;
   width: 24px;
   height: 24px;
   margin:0 auto 8px;
   .chevron {
      position: absolute;
      width: 22px;
      height: 4px;
      opacity: 0;
      transform: scale3d(0.5, 0.5, 0.5);
      animation: move 3s ease-out infinite;
      &:first-child {
         animation: move 1.5s ease-out .5s infinite;
      }

      &:nth-child(2) {
         animation: move 1.5s ease-out .5s infinite;
      }

      &:before,
      &:after {
         content: ' ';
         position: absolute;
         top: 0;
         height: 100%;
         width: 51%;
         background: $secondary-500;
      }

      &:before {
         border-top-left-radius: 4px;
         left: 0;
         transform: skew(0deg, 30deg);
      }

      &:after {
         border-top-right-radius: 4px;
         right: 0;
         width: 50%;
         transform: skew(0deg, -30deg);
      }
   }
}




@keyframes move {
   25% {
      opacity: 0.5;

   }

   33% {
      opacity: 0.7;
      transform: translateY(1em);
   }

   67% {
      opacity: 1;
      transform: translateY(1.3em);
   }

   100% {
      opacity: 0.5;
      transform: translateY(1.85em) scale3d(0.5, 0.5, 0.5);
   }
}

@media screen and (min-width:768px) {
   .scroll {
      width:32px;
      height:32px;
      .chevron {
         width:28px;
         &:before, &:after {
            height:6px;
         }
      }
   }
}