$transition: cubic-bezier(.17, .67, .5, 1.03);
$timing:.4s .15s;
$shadow: 2px 3px 4px $gray-600;
$soft-shadow:-1px 6px 6px #5c5c5c5e;

a.btn {
   font-weight: 600!important;
}
.btn-first {
   background-color: $indigo-700;
   color:white;
}
.btn-second {
   color:$indigo-600;
   border:2px solid $indigo-600;
   &:hover{
      background-color: $indigo-600;
      color:$indigo-100;
   }
   &.light {
      color:$indigo-100;
      border-color:$indigo-200;
       &:hover {
          background-color: $indigo-100;
          color:$indigo-600;
          border-color:$indigo-100;
       }
   }
}
.btn-third {
   color:$indigo-600;
   text-decoration: underline;
}