

.incoterm-section {
   position: relative;
   margin-bottom: 40px
}
.rotate {
   align-items: center;
   justify-content: center;
   min-height: 50vh;   
}
.phone {
   height: 50px;
   width: 100px;
   border: 3px solid $primary-700;
   border-radius: 10px;
   animation: rotate 1.5s ease-in-out infinite alternate;
   /* display: none; */
 }
 
 .message {
   color: $primary-700;
   font-size: 1em;
   margin-top: 40px;
   /* display: none; */
 }
 
 @keyframes rotate {
   0% {
       transform: rotate(0deg)
    }
    50% {
       transform: rotate(-90deg)
    }
    100% {
       transform: rotate(-90deg)
    }
 }
 
 @media only screen and (max-device-width: 812px) and (orientation: landscape) {
   .phone, .message {
     display: block;
   }
 }
.incoterms-bg {
   background-image: linear-gradient(90deg, #8ab6cc 0%, #fff 5%, #fff 50%, #c0d6e1 55%, #fff 55%, #fff 100%);
   background-size: 9%;
   z-index: -1;
   position: absolute;
   top: 70px;
   bottom: 10px;
   left: 44px;
   right: 30px;
   opacity: 0.3
}

.incoterms-ranges {
   width: calc(100% - 68px);
   margin: auto;
   display: table;
   padding-left: 12px;
   line-height: 1em
}

.incoterm-range {
   // font-weight: bold;
   font-size: .75em;
   color: $gray-500;
   width: 9.09%;
   text-align: center;
   float: left;
   margin: 24px 0 16px;
   display: flex;
   align-items: flex-end;
   height:42px;
  
}

.incoterm-range span {
  
   display: block;
   padding:0 4px;
   margin:auto;

}

.incoterm-block {
   display: flex
}


.incoterm-modes-title {
   width: 100%;
   text-transform: uppercase;
   text-align: center;
   margin-bottom: 30px;
   color: $gray-400;
   font-weight: bold;
   display: flex;
   justify-content: center
}

.incoterm-title {
   color: $gray-400;
   font-weight: bold;
   width: 44px;
   float: left;
}

.incoterm-bars {
   float: left;
   width: calc(100% - 79px);
   margin-bottom: 20px
}

.incoterm-text {
   background: #f8f8f8;
   width: 100%;
   border-radius: 10px;
   padding: 16px;
   font-size: 0.875rem;
   position: relative;
   margin-top: 15px
}

.incoterm-text h2 {
   text-align: center;
   margin: 0;
   font-size: 1rem;
   font-weight: bold;
   color: #112a4d;
   margin-bottom: 20px
}

.incoterm-text:before {
   content: '';
   position: absolute;
   top: -8px;
   left: calc(50% - 8px);
   width: 0;
   height: 0;
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
   border-bottom: 8px solid #f8f8f8;
   clear: both
}

.incoterm-text ul li {
   margin: 0 30px
}

.incoterm-expand {
   background-color: #112a4d;
   border-radius: 50%;
   width: 18px;
   height: 18px;
   float: left;
   margin-left: 15px;
   margin-top: 16px;
   cursor: pointer
}

.incoterm-expand:hover {
   background-color: #93c6e5
}

.incoterm-expand:before {
   content: '';
   border: solid white;
   border-top-width: medium;
   border-right-width: medium;
   border-bottom-width: medium;
   border-left-width: medium;
   border-top-width: medium;
   border-right-width: medium;
   border-bottom-width: medium;
   border-left-width: medium;
   border-width: 0 2px 2px 0;
   display: inline-block;
   padding: 2px;
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   margin: 5px 0px 6px 6px
}

.incoterm-expand.expanded {
   background-color: #93c6e5
}

.incoterm-expand.expanded:before {
   transform: rotate(-135deg);
   -webkit-transform: rotate(-135deg);
   margin: 7px 0px 4px 6px
}



.incoterm-legend {
   font-size: 0.875rem;
   max-width: 240px;
   line-height: 1rem;
   display: inline-block;
   vertical-align: top
}

.incoterm-remark {
   font-size: 0.875rem;
   text-align: justify
}

.incoterm-icon {
   width: 25px;
   height: 21px;
   margin-left: 5px;
   display: inline-block
}

.icon-ship {
   background: url("/wp-content/themes/electronaut/img/incoterms-icons.png") 0 0 no-repeat
}

.icon-plane {
   background: url("/wp-content/themes/electronaut/img/incoterms-icons.png") -25px 0 no-repeat
}

.icon-truck {
   background: url("/wp-content/themes/electronaut/img/incoterms-icons.png") -50px 0 no-repeat
}

.terms strong {
   color: #112a4d;
   padding: 10px 0;
   display: inline-block
}

.terms ul {
   width: 95%;
   padding-left: 5%
}

.terms ul li {
   margin-bottom: 10px
}

.terms ul a {
   color: #112a4d
}

.terms ul a:hover {
   color: #93c6e5
}

.terms p a {
   color: #676767;
   font-weight: 600
}

.terms p a:hover {
   color: #112a4d
}

.terms p.contents {
   border: 1px solid #CFCFCF;
   padding: 20px;
   background-color: #EEE;
   display: inline-block
}

.terms :target:before {
   content: "";
   display: block;
   height: 64px;
   margin: -64px 0 0
}

.containers-block {
   margin-bottom: 60px;
   display: table
}

.container-image {
   text-align: center
}

.container-image h3 {
   font-size: 1rem;
   margin: 0 0 20px 0
}

@font-face {
   font-family: 'Roboto';
   src: url("/wp-content/themes/electronaut/fonts/roboto/Roboto-Regular.eot");
   src: local("Roboto"), local("Roboto-Regular"), url("/wp-content/themes/electronaut/fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/electronaut/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("/wp-content/themes/electronaut/fonts/roboto/Roboto-Regular.woff") format("woff"), url("/wp-content/themes/electronaut/fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("/wp-content/themes/electronaut/fonts/roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
   font-weight: normal;
   font-style: normal
}

.cssProgress {
   width: 100%;
   margin-bottom: 2px
}

.cssProgress .progress1,
.cssProgress .progress2,
.cssProgress .progress3 {
   position: relative;
   overflow: hidden;
   width: 100%;
}

.cssProgress {
   .cssProgress-bar {
      display: block;
      float: left;
      width: 0%;
      height: 100%;
      background: $secondary-500;
      -webkit-transition: width 0.8s ease-in-out;
      transition: width 0.8s ease-in-out;
      border: 2px solid #FFF;
      box-sizing: border-box;
      height: 28px;
      position: relative;

      .cssProgress-label {
         position: absolute;
         overflow: hidden;
         left: 8px;
         right: 0px;
         color: $primary-900;
         font-size: .75em;
         line-height: 2.25em;
         letter-spacing: 1px;
         text-transform: uppercase;
      }
   }
   .cssProgress-bar-2 {
      background-color: $primary-500 !important;
      .cssProgress-label {
         color: #FFF;
      }
   }

}



.cssProgress .cssProgress-label2 {
   display: block;
   margin: 2px 0;
   padding: 0 8px;
   font-size: 0.8em
}



.cssProgress .cssProgress-stripes,
.cssProgress .cssProgress-active,
.cssProgress .cssProgress-active-right {
   background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
   background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
   background-size: 35px 35px
}

.cssProgress .cssProgress-active {
   -webkit-animation: cssProgressActive 2s linear infinite;
   -ms-animation: cssProgressActive 2s linear infinite;
   animation: cssProgressActive 2s linear infinite
}

.cssProgress .cssProgress-active-right {
   -webkit-animation: cssProgressActiveRight 2s linear infinite;
   -ms-animation: cssProgressActiveRight 2s linear infinite;
   animation: cssProgressActiveRight 2s linear infinite
}

@-webkit-keyframes cssProgressActive {
   0% {
      background-position: 0 0
   }

   100% {
      background-position: 35px 35px
   }
}

@-ms-keyframes cssProgressActive {
   0% {
      background-position: 0 0
   }

   100% {
      background-position: 35px 35px
   }
}

@keyframes cssProgressActive {
   0% {
      background-position: 0 0
   }

   100% {
      background-position: 35px 35px
   }
}

@-webkit-keyframes cssProgressActiveRight {
   0% {
      background-position: 0 0
   }

   100% {
      background-position: -35px -35px
   }
}

@-ms-keyframes cssProgressActiveRight {
   0% {
      background-position: 0 0
   }

   100% {
      background-position: -35px -35px
   }
}

@keyframes cssProgressActiveRight {
   0% {
      background-position: 0 0
   }

   100% {
      background-position: -35px -35px
   }
}

.progress1 {
   background-color: #EEE;
   box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2)
}

.progress1 .cssProgress-bar {
   height: 18px
}

.progress1 .cssProgress-label {
   line-height: 18px
}

.progress2 {
   border-radius: 5px
}

.progress2 .cssProgress-bar {
   
}

.progress2 .cssProgress-label {
   
}


@-webkit-keyframes cssProgressGlowActive1 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #3798D9
   }

   45% {
      box-shadow: 1px 0px 4px 0px #3798D9
   }
}

@-ms-keyframes cssProgressGlowActive1 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #3798D9
   }

   45% {
      box-shadow: 1px 0px 4px 0px #3798D9
   }
}

@keyframes cssProgressGlowActive1 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #3798D9
   }

   45% {
      box-shadow: 1px 0px 4px 0px #3798D9
   }
}

@-webkit-keyframes cssProgressGlowActive2 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #9575cd
   }

   45% {
      box-shadow: 1px 0px 4px 0px #9575cd
   }
}

@-ms-keyframes cssProgressGlowActive2 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #9575cd
   }

   45% {
      box-shadow: 1px 0px 4px 0px #9575cd
   }
}

@keyframes cssProgressGlowActive2 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #9575cd
   }

   45% {
      box-shadow: 1px 0px 4px 0px #9575cd
   }
}

@-webkit-keyframes cssProgressGlowActive3 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #ef5350
   }

   45% {
      box-shadow: 1px 0px 4px 0px #ef5350
   }
}

@-ms-keyframes cssProgressGlowActive3 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #ef5350
   }

   45% {
      box-shadow: 1px 0px 4px 0px #ef5350
   }
}

@keyframes cssProgressGlowActive3 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #ef5350
   }

   45% {
      box-shadow: 1px 0px 4px 0px #ef5350
   }
}

@-webkit-keyframes cssProgressGlowActive4 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #66bb6a
   }

   45% {
      box-shadow: 1px 0px 4px 0px #66bb6a
   }
}

@-ms-keyframes cssProgressGlowActive4 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #66bb6a
   }

   45% {
      box-shadow: 1px 0px 4px 0px #66bb6a
   }
}

@keyframes cssProgressGlowActive4 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #66bb6a
   }

   45% {
      box-shadow: 1px 0px 4px 0px #66bb6a
   }
}

@-webkit-keyframes cssProgressGlowActive5 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #ffb74d
   }

   45% {
      box-shadow: 1px 0px 4px 0px #ffb74d
   }
}

@-ms-keyframes cssProgressGlowActive5 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #ffb74d
   }

   45% {
      box-shadow: 1px 0px 4px 0px #ffb74d
   }
}

@keyframes cssProgressGlowActive5 {

   0%,
   100% {
      box-shadow: 5px 0px 15px 0px #ffb74d
   }

   45% {
      box-shadow: 1px 0px 4px 0px #ffb74d
   }
}