// @import 'imports/colors', 'imports/mixin';

/* ===================== N A V  M E N U  ===================== */

.topnavbar {
   width: 100%;
   position: fixed;
   text-align: center;
   z-index: 10;
   background-color: white;
   top:0;
   .container.langs {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border-bottom: 1px solid $gray-200;

      a {
         font-size: 1em;
         color: $gray-400;
         margin: 0 4px;
         padding: 0 4px;

         &.active {
            color: $primary-700
         }

         &:first-of-type {
            margin-left: 16px;
            position: relative;
            padding-left: 16px;

            &::before {
               content: '|';
               position: absolute;
               left: 0;
               display: block;
               // height:100%;
               // width:1px;
               color: $primary-200;
               top: -1px;

               // background-color:$primary-300;
            }
         }

         &:last-of-type {
            margin-right: 0;
         }
      }

      i {
         color: $gray-300;
         font-size: 1.25em;
         padding-top: 2px;
      }
   }

   .container {

      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .logo {
      padding: 8px 0;

      img {
         max-width: 100%;
         width: 15em;
      }
   }

   ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      height: 0;
      overflow-x: hidden;
      position: fixed;
      top: 80px;
      transition: width .5s;
      width: 0;
      left: 0;
      flex-direction: column;
      background-color: $primary-800;
      justify-content: center;

      li {
         width: 100%;
         text-align: right;
         padding: 0;
         margin: .5em 0;
         text-align: center;
         font-size: 1.25em;

         a {
            text-align: center;
            width: 100%;
            padding: 8px 16px;
            color: $primary-200;
            text-transform: uppercase;

            &.dropdown-item.active {
               background-color: $primary-600;
            }
         }

         &.active {
            a {
               color: $secondary-500;
               font-weight: bold;

            }
         }

         button {
            font-size: 1.25em;
            color: $primary-700;
         }

      }
   }

   &.scrolled {
      box-shadow: $soft-shadow;
   }

}

/* Home section */


.navTrigger {
   display: block;
}


@media screen and (min-width:768px) {

   .topnavbar {
      .logo img {
         width: 20em;
      }

      ul {
         top: 110px;

         li {
            a {
               font-size: 1.5em;

               &.btn {
                  width: 240px;
               }
            }
         }
      }
   }

}

@media screen and (min-width:1200px) {

   .topnavbar {
      transition: $timing $transition;

      .container {
         padding: 1em 0;

         .navTrigger {
            display: none;
         }

         ul.navlinks {
            position: relative;
            height: auto !important;
            top: inherit;
            flex-direction: row;
            box-shadow: none;
            align-items: center;
            justify-content: flex-end;
            overflow: visible;
            width: 100%;
            background-color: transparent;

            li {
               margin: 0 .5em;
               width: auto;

               a {
                  font-size: .9em;
                  font-weight: 500;
                  color: $gray-500;
                  letter-spacing: 1px;
               }

               .btn {
                  font-size: .9em;
                  letter-spacing: 1px;
                  color:white;
                  background-color: $primary-600;
               }
               &.active {
                  a {
                     color:$primary-500;
                     font-weight: 700;
                  }
               }
            }
         }

         .logo {
            img {
               width: 26em;
            }
         }

         &.langs {
            padding: 8px 0;

            i {
               padding-top: 0;
            }
         }
      }

      &.transparent {
         background-color: rgba($primary-900, 0.5);

         ul.navlinks li {

            a {
               color: $gray-300;
            }
            &.active {
               a {
                  color: white;
               }
            }
         }

         .container.langs {
            border-color: rgba($gray-500, .6);

            a {
               color: rgba($gray-500, .6);

               &.active {
                  color: rgba($gray-300, 1)
               }
            }
         }
      }
   }

}

@media screen and (min-width:1400px) {
   .topnavbar {
      .container {
         .logo {
            img {
               width: 30em;
            }
         }
      }
   }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
   cursor: pointer;
   width: 30px;
   height: 25px;
}

.navTrigger i {
   background-color: $primary-500;
   border-radius: 2px;
   content: '';
   display: block;
   width: 100%;
   height: 4px;
}

.navTrigger i:nth-child(1) {
   -webkit-animation: outT 0.8s backwards;
   animation: outT 0.8s backwards;
   -webkit-animation-direction: reverse;
   animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
   margin: 5px 0;
   -webkit-animation: outM 0.8s backwards;
   animation: outM 0.8s backwards;
   -webkit-animation-direction: reverse;
   animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
   -webkit-animation: outBtm 0.8s backwards;
   animation: outBtm 0.8s backwards;
   -webkit-animation-direction: reverse;
   animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
   -webkit-animation: inT 0.8s forwards;
   animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
   -webkit-animation: inM 0.8s forwards;
   animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
   -webkit-animation: inBtm 0.8s forwards;
   animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
   50% {
      -webkit-transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(45deg);
   }
}

@keyframes inM {
   50% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(45deg);
   }
}

@-webkit-keyframes outM {
   50% {
      -webkit-transform: rotate(0deg);
   }

   100% {
      -webkit-transform: rotate(45deg);
   }
}

@keyframes outM {
   50% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(45deg);
   }
}

@-webkit-keyframes inT {
   0% {
      -webkit-transform: translateY(0px) rotate(0deg);
   }

   50% {
      -webkit-transform: translateY(9px) rotate(0deg);
   }

   100% {
      -webkit-transform: translateY(9px) rotate(135deg);
   }
}

@keyframes inT {
   0% {
      transform: translateY(0px) rotate(0deg);
   }

   50% {
      transform: translateY(9px) rotate(0deg);
   }

   100% {
      transform: translateY(9px) rotate(135deg);
   }
}

@-webkit-keyframes outT {
   0% {
      -webkit-transform: translateY(0px) rotate(0deg);
   }

   50% {
      -webkit-transform: translateY(9px) rotate(0deg);
   }

   100% {
      -webkit-transform: translateY(9px) rotate(135deg);
   }
}

@keyframes outT {
   0% {
      transform: translateY(0px) rotate(0deg);
   }

   50% {
      transform: translateY(9px) rotate(0deg);
   }

   100% {
      transform: translateY(9px) rotate(135deg);
   }
}

@-webkit-keyframes inBtm {
   0% {
      -webkit-transform: translateY(0px) rotate(0deg);
   }

   50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
   }

   100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
   }
}

@keyframes inBtm {
   0% {
      transform: translateY(0px) rotate(0deg);
   }

   50% {
      transform: translateY(-9px) rotate(0deg);
   }

   100% {
      transform: translateY(-9px) rotate(135deg);
   }
}

@-webkit-keyframes outBtm {
   0% {
      -webkit-transform: translateY(0px) rotate(0deg);
   }

   50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
   }

   100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
   }
}

@keyframes outBtm {
   0% {
      transform: translateY(0px) rotate(0deg);
   }

   50% {
      transform: translateY(-9px) rotate(0deg);
   }

   100% {
      transform: translateY(-9px) rotate(135deg);
   }
}

.affix {
   padding: 0;
   background-color: #111;
}






.myH2 {
   text-align: center;
   font-size: 4rem;
}

.myP {
   text-align: justify;
   padding-left: 15%;
   padding-right: 15%;
   font-size: 20px;
}

@media all and (max-width:700px) {
   .myP {
      padding: 2%;
   }
}