// @import 'imports/colors';

/* ===================== S L I D E R  ===================== */

.container-fluid.main {
   padding: 0;
}

#my-slider {
   position: relative;



   img.sp-image {
      filter: grayscale(0.2) brightness(0.9);
   }

   .sp-layer {
      left: 0;
      right: 0;
      top: inherit !important;
      margin: 0 20px;
      bottom: 100px;
      white-space: nowrap;
      min-height: 180px;
      max-height: 380px;
      max-width: 540px;
      overflow-wrap: break-word;
      padding: 20px;
      background-color: rgba($primary-900, 0.5);
      margin: 0 16px;


      >* {
         margin: 0;
         padding: 0;
         white-space: normal;
         text-align: left;
         position: relative;
      }

      hr {
         border-top: 3px solid $secondary-400;
         max-width: 100px;
         margin: 10px 0 15px !important;
      }

      h3 {
         border-width: 0px;
         letter-spacing: 1px;
         font-size: 1.25em;
         font-weight: 700;
         color: white;
      }

      p {
         font-weight: 500;
         text-align: left;
         color: white;
      }

      a.btn {
         float: right;
         margin-top: 20px;
         text-transform: uppercase;
         color:$secondary-400;
         border-color:$secondary-400;
         i {
            margin: auto 5px 3px;
         }

         &:hover {
            i {
               color: $secondary-400;
            }
         }
      }
   }

   .sp-thumbnails-container {
      position: absolute;
      bottom: 0;
      background-color: rgba($primary-900, 0.5);
      width: 100vw !important;
      box-shadow: inset 0px 4px 4px rgba($primary-900, 0.2);

      .sp-thumbnails {
         margin-left: 16px;
      }

      .sp-thumbnail {
         width: 100%;
         padding-top: 8px;
         -moz-box-sizing: border-box;
         box-sizing: border-box;
         top: 8px;

         .sp-thumbnail-title {
            margin-bottom: 5px;
            text-transform: uppercase;
            color: #333;

            svg {
               width: 40px;
               height: 40px;
               fill: $gray-500;
            }
         }


      }

      .sp-selected-thumbnail {
         .sp-thumbnail {
            .sp-thumbnail-title {
               svg {
                  fill: $gray-100;
               }
            }
         }

         &:before {
            width: 100%;
            border-bottom: 3px solid $secondary-400;
            margin-top: 13px;
            left: 0;
            right: 0;
            margin: auto;
         }

         &:after {
            content: none;
         }
      }

      .sp-thumbnail-description {
         font-size: 14px;
         color: #333;
      }
   }
}

@media only screen and (min-width:768px) {
   #my-slider {
      .sp-layer {
         top: 43% !important;
         transform: translateY(-50%) !important;
         bottom: inherit;
         left: 9px !important;
         padding: 20px 16px;

         h3 {
            font-size: 2em;
         }
      }

      .sp-thumbnails-container {
         .sp-thumbnails {
            margin:auto;
            .sp-thumbnail {
               margin-right: 10px;

               .sp-thumbnail-title {
                  text-align: center;

                  svg {
                     width: 64px;
                     height: 64px;
                  }
               }
            }
         }
         
      }
   }

}

@media only screen and (min-width:1024px) {
   #my-slider {
      .sp-layer {
         max-width: 60vw;
         top: 43% !important;
         transform: translateY(-50%) !important;
         bottom: inherit;
         left: 5% !important;
         padding: 20px 16px;

      }

      .sp-thumbnails-container .sp-thumbnails {
         margin: 0 auto;
         
      }

   }
}

@media screen and (min-device-width: 1200px)  {

   #my-slider {
      .container {
         height: 320px;
         position: absolute;
         left: 0;
         margin: auto;
         top: 50%;
         transform: translateY(-50%);
         right: 0;
         padding-left:0;
         width: auto !important;
         max-width: 1140px !important;

         .sp-layer {
           bottom:inherit;
           top:inherit!important;
           position: relative;
           left:inherit!important;
           max-width:720px;
           padding:2em 1em;
           text-align:right;
           margin-left:0;
           a.btn {
              float:none;
           }
         }
      }

      .sp-thumbnails-container{
         .sp-thumbnails {
            .sp-thumbnail {
               top:0;
               padding-top:4px;
            }
            .sp-thumbnail-description {
               text-align: center;              
               font-size: 1em;
                padding-top:8px !important;
               font-weight: 500;
               letter-spacing: 1px;
               padding: 0 2px;
               transition: $timing $transition;
               color: $gray-600;
            }
            .sp-selected-thumbnail {
               .sp-thumbnail-description {
                  color: $gray-300;
                  font-weight: 600;
                  position: relative;
                  &::after {
                        display:block;
                        content:'';
                        width: 75%;
                        height: 3px;
                        background-color: $secondary-400;
                        border:none;
                        margin-bottom: 13px;
                        position:absolute;
                        top:0;
                        left: 0;
                        right: 0;
                        margin: auto;
                     }
               }
               &::before {
                  content:none;
               }
               
            }
         }
         
      } 
         

         
         
      }

   
}
@media screen and (min-width:1400px) {
   #my-slider .sp-layer p {
      font-size: 1.2em;
   }
}


@media (max-width: 1024px) {
   #my-slider .hide-medium-screen {
      display: none;
   }
}


@media (max-width: 640px) {

   #my-slider .hide-small-screen {
      display: none;
   }
}

@media (max-width: 500px) {
   #my-slider .sp-thumbnail {
      text-align: center;
   }

   #my-slider .sp-thumbnail-title {
      font-size: 12px;
      text-transform: uppercase;
   }

   #my-slider .sp-thumbnail-description {
      display: none;
   }
}